In [247]:
import datetime
import time
now = time.localtime()
s = datetime.datetime.now()
f = '%m/%d/%Y %I:%M:%S %p'
ss = "%04d-%02d-%02d %02d:%02d:%02d" % (now.tm_year, now.tm_mon, now.tm_mday, now.tm_hour, now.tm_min, now.tm_sec)
print (s)
print (ss)

2018-11-29 00:47:14.870229
2018-11-29 00:47:14

In [141]:
def print_table(tbl_name, cur):
    # SQL 쿼리 실행은 cur.execute로 함
    cur.execute("select * from " + tbl_name)

    # 데이타 Fetch
    rows = cur.fetchall()
    for row in rows:
        print(row)
        
    return None

In [143]:
##################################################################
## PRICE = {Unit_minute, Unit_price}
## 10 분 당 500 원
def init_price(cur):
    cur.execute("INSERT INTO PRICE VALUES(10,500)")
    return 0

##################################################################
## DISCOUNT = {Shopping_pay_minimum, Free_hour}
def init_discount(cur):
    for i in range(1,6):
        cur.execute("INSERT INTO DISCOUNT VALUES(" + str((i*2-1)*10000) + ", " + str(i) + ")")
    return 0

In [145]:
init_price(cur)
init_discount(cur)

0

In [146]:
print_table('PRICE', cur)
print_table('DISCOUNT', cur)

(10, 500)
(10000, 1)
(30000, 2)
(50000, 3)
(70000, 4)
(90000, 5)

In [2]:
##################################################################
## PARKINGLOT_LIST = {Parking_spot, Parking_status, Customer_car_num}
## Parking_status : 0 == vacant ; 1 == occupied ; 2 == moving_out
## Total 3 levels, A-J zones, 1-10 spots
## ['B3-J10', 0, NULL]
def init_parkinglot_list(cur):
    for floor in range (1,4):
        for zone in range (0,10):
            for spot in range (1,11):
                cur.execute("INSERT INTO PARKINGLOT_LIST VALUES('B"+str(floor)
                +"-"+string.ascii_uppercase[zone]+str(spot)+"', 0, NULL)")
    return 0

In [3]:
##################################################################
## CUSTOMER_LIST = {Customer_car_num, Customer_card_info, Customer_name}
h_plate = ['가','나','다','라','마',
                 '거','너','더','러','머','버','서','어','저',
                 '고','노','도','로','모','보','소','오','조',
                 '구','누','두','루','무','부','수','우','주',
                 '아','바','사','자',
                 '배','하','허','호']

n_first = ['KIM','LEE', 'PARK', 'KONG', 'YOON', 'HYUN', 'KANG',
            'JEONG', 'MOON', 'CHA', 'HAN', 'HWANG', 'HA']
n_middle = ['SEO', 'MOON', 'YOON', 'KYUNG', 'HYUN', 'MIN',
            'SOO', 'EUN', 'SEONG', 'JI']
n_last = ['JOON', 'MI', 'AH', 'JOO', 'YEON', 'HYUK', 'SEOK','WOON']

card = ['VISA', 'MasterCard', 'Amex', 'BC', 'UnionPay','JCB']


# Make sample tuple of CUSTOMER_LIST and insert it to CUSTOMER_LIST
## CUSTOMER_LIST = { Customer_car_num, Customer_card_info, Customer_name }
def mk_sample_cust(cust_num, cur):
    for _ in range (cust_num):
        cur.execute("INSERT INTO CUSTOMER_LIST VALUES('"
        '{0:02d}'.format(random.randrange(100)) + h_plate[random.randrange(len(h_plate))] + '{0:04d}'.format(random.randrange(10000)) +
            "','" + card[random.randrange(len(card))] + " " + '{0:04d}'.format(random.randrange(10000)) + "-" + '{0:04d}'.format(random.randrange(10000)) + "-" + '{0:04d}'.format(random.randrange(10000)) + "-" + '{0:04d}'.format(random.randrange(10000)) +
            "','" + n_first[random.randrange(len(n_first))] + " " + n_middle[random.randrange(len(n_middle))] + " " + n_last[random.randrange(len(n_last))] +
            "')")
    return 0

In [7]:
# Connect to SQLite DB
## if exist "PMS_db.sqlite" then connect 
## if not exitst "PMS_db.sqlite" then create
conn_test = sqlite3.connect("PMS_test.sqlite", detect_types=sqlite3.PARSE_DECLTYPES)

# Create cursor from DB Connection
cur_test = conn_test.cursor()

In [10]:
cur_test.execute("""
    CREATE TABLE SHOPPING_PAY (
    Spay_id INTEGER PRIMARY KEY AUTOINCREMENT,
    Customer_car_num text     )""")

In [11]:
cur.execute("INSERT INTO CUSTOMER_LIST VALUES('12가1234','VISA 1234-1234-1234-1234', 'KIM MIN JI')")

In [15]:
init_parkinglot_list()
mk_sample_cust(50)

0

In [240]:
# SQL 쿼리 실행은 cur.execute로 함
cur.execute("select * from CUSTOMER_LIST")

# 데이타 Fetch
rows = cur.fetchall()
for row in rows:
    print(row)

('12가1234', 'VISA 1234-1234-1234-1234', 'KIM MIN JI')
('49루0663', 'Amex 8376-7961-6634-4969', 'JEONG MIN JOO')
('64러4617', 'MasterCard 1553-4104-8725-9861', 'PARK HYUN MI')
('93마5409', 'BC 9171-1649-5796-7113', 'HYUN JI JOO')
('70우7253', 'UnionPay 4267-1020-8989-0230', 'LEE SOO JOON')
('78주5458', 'MasterCard 5328-1031-3130-9298', 'KONG KYUNG AH')
('69부1494', 'VISA 5243-8322-8016-1786', 'YOON SEONG YEON')
('90더8969', 'Amex 8852-3329-9882-8965', 'CHA HYUN WOON')
('11허6306', 'Amex 9431-3966-4756-3012', 'KONG YOON JOON')
('78도7807', 'VISA 1471-2133-2450-0633', 'LEE SEONG SEOK')
('90바4515', 'UnionPay 3858-3525-9663-6871', 'CHA HYUN WOON')
('63조1349', 'Amex 1889-7969-9618-5493', 'KONG KYUNG JOON')
('93로1919', 'JCB 3612-6095-2793-5448', 'KANG SEO MI')
('18고0741', 'UnionPay 8752-9865-1212-0437', 'LEE KYUNG MI')
('50거6064', 'VISA 0596-9920-0354-3188', 'PARK MOON WOON')
('26라0373', 'UnionPay 6973-1662-4258-1146', 'KONG MOON YEON')
('44무2954', 'VISA 8251-7653-0645-9772', 'LEE SOO JOO')
('33조7704', 'UnionPay 2775-3332-0951-2592', 'PARK MIN YEON')
('15허7246', 'JCB 2864-0216-7727-6715', 'CHA SEONG YEON')
('83조6367', 'JCB 4111-2513-9184-0203', 'JEONG MOON HYUK')
('94다8918', 'Amex 2209-3934-7894-5770', 'CHA HYUN HYUK')
('75호2168', 'JCB 5083-6357-6789-1322', 'KIM JI JOO')
('89오2622', 'MasterCard 3655-7342-6203-9308', 'KANG SEO SEOK')
('89배6852', 'JCB 0766-2714-7296-1046', 'YOON YOON WOON')
('67주9198', 'UnionPay 0001-0637-8103-5340', 'YOON EUN JOON')
('53어8987', 'JCB 1367-2138-0241-6583', 'HAN SOO HYUK')
('00저0234', 'JCB 0038-8656-1602-3120', 'LEE JI JOO')
('38로2985', 'VISA 7792-6499-1332-0357', 'YOON EUN MI')
('32러8533', 'JCB 5686-1885-2530-4561', 'KIM SEO JOON')
('26도9148', 'Amex 6011-9297-0688-9954', 'HAN EUN WOON')
('81무6102', 'UnionPay 2921-3405-6153-9619', 'YOON SEO AH')
('19로5462', 'Amex 6016-1535-5541-0584', 'KIM HYUN AH')
('19하4743', 'Amex 6468-8986-2124-4807', 'LEE EUN JOO')
('06보2942', 'UnionPay 1161-4958-6605-5382', 'YOON SOO MI')
('12자7883', 'BC 5522-5630-2036-7849', 'LEE EUN SEOK')
('04보5489', 'JCB 2550-2728-9248-6153', 'HA MOON MI')
('10어3621', 'VISA 6304-0128-1606-6452', 'MOON SEONG YEON')
('57주9582', 'JCB 3559-6931-1370-6034', 'KONG HYUN AH')
('55어5873', 'VISA 1046-0452-8614-7399', 'HA KYUNG MI')
('63두4202', 'MasterCard 0689-3537-2397-1714', 'KONG EUN SEOK')
('46사2479', 'VISA 9768-7993-2431-9239', 'KANG SOO WOON')
('86소8166', 'BC 3309-8893-9990-3584', 'KIM MIN HYUK')
('41다8603', 'MasterCard 4208-9872-2554-6209', 'CHA HYUN WOON')
('08거8462', 'VISA 1087-3687-2138-0665', 'YOON SEO WOON')
('42버2438', 'JCB 7548-6083-8273-6262', 'MOON SEONG JOON')
('73거8486', 'UnionPay 1251-6985-3376-4745', 'MOON JI SEOK')
('61누9952', 'UnionPay 3826-0335-0003-2981', 'YOON SEONG YEON')
('42마8085', 'Amex 4961-6685-6294-6286', 'KIM YOON AH')
('30모5472', 'VISA 0588-7886-6846-2308', 'JEONG JI MI')
('86머5779', 'BC 0576-7639-6335-7518', 'KIM MOON WOON')
('99머0331', 'VISA 9802-2174-5306-1725', 'HWANG SEONG HYUK')

In [17]:
# SQL 쿼리 실행은 cur.execute로 함
cur.execute("select * from PARKINGLOT_LIST")

# 데이타 Fetch
rows = cur.fetchall()
for row in rows:
    print(row)

('B1-A1', 0, None)
('B1-A2', 0, None)
('B1-A3', 0, None)
('B1-A4', 0, None)
('B1-A5', 0, None)
('B1-A6', 0, None)
('B1-A7', 0, None)
('B1-A8', 0, None)
('B1-A9', 0, None)
('B1-A10', 0, None)
('B1-B1', 0, None)
('B1-B2', 0, None)
('B1-B3', 0, None)
('B1-B4', 0, None)
('B1-B5', 0, None)
('B1-B6', 0, None)
('B1-B7', 0, None)
('B1-B8', 0, None)
('B1-B9', 0, None)
('B1-B10', 0, None)
('B1-C1', 0, None)
('B1-C2', 0, None)
('B1-C3', 0, None)
('B1-C4', 0, None)
('B1-C5', 0, None)
('B1-C6', 0, None)
('B1-C7', 0, None)
('B1-C8', 0, None)
('B1-C9', 0, None)
('B1-C10', 0, None)
('B1-D1', 0, None)
('B1-D2', 0, None)
('B1-D3', 0, None)
('B1-D4', 0, None)
('B1-D5', 0, None)
('B1-D6', 0, None)
('B1-D7', 0, None)
('B1-D8', 0, None)
('B1-D9', 0, None)
('B1-D10', 0, None)
('B1-E1', 0, None)
('B1-E2', 0, None)
('B1-E3', 0, None)
('B1-E4', 0, None)
('B1-E5', 0, None)
('B1-E6', 0, None)
('B1-E7', 0, None)
('B1-E8', 0, None)
('B1-E9', 0, None)
('B1-E10', 0, None)
('B1-F1', 0, None)
('B1-F2', 0, None)
('B1-F3', 0, None)
('B1-F4', 0, None)
('B1-F5', 0, None)
('B1-F6', 0, None)
('B1-F7', 0, None)
('B1-F8', 0, None)
('B1-F9', 0, None)
('B1-F10', 0, None)
('B1-G1', 0, None)
('B1-G2', 0, None)
('B1-G3', 0, None)
('B1-G4', 0, None)
('B1-G5', 0, None)
('B1-G6', 0, None)
('B1-G7', 0, None)
('B1-G8', 0, None)
('B1-G9', 0, None)
('B1-G10', 0, None)
('B1-H1', 0, None)
('B1-H2', 0, None)
('B1-H3', 0, None)
('B1-H4', 0, None)
('B1-H5', 0, None)
('B1-H6', 0, None)
('B1-H7', 0, None)
('B1-H8', 0, None)
('B1-H9', 0, None)
('B1-H10', 0, None)
('B1-I1', 0, None)
('B1-I2', 0, None)
('B1-I3', 0, None)
('B1-I4', 0, None)
('B1-I5', 0, None)
('B1-I6', 0, None)
('B1-I7', 0, None)
('B1-I8', 0, None)
('B1-I9', 0, None)
('B1-I10', 0, None)
('B1-J1', 0, None)
('B1-J2', 0, None)
('B1-J3', 0, None)
('B1-J4', 0, None)
('B1-J5', 0, None)
('B1-J6', 0, None)
('B1-J7', 0, None)
('B1-J8', 0, None)
('B1-J9', 0, None)
('B1-J10', 0, None)
('B2-A1', 0, None)
('B2-A2', 0, None)
('B2-A3', 0, None)
('B2-A4', 0, None)
('B2-A5', 0, None)
('B2-A6', 0, None)
('B2-A7', 0, None)
('B2-A8', 0, None)
('B2-A9', 0, None)
('B2-A10', 0, None)
('B2-B1', 0, None)
('B2-B2', 0, None)
('B2-B3', 0, None)
('B2-B4', 0, None)
('B2-B5', 0, None)
('B2-B6', 0, None)
('B2-B7', 0, None)
('B2-B8', 0, None)
('B2-B9', 0, None)
('B2-B10', 0, None)
('B2-C1', 0, None)
('B2-C2', 0, None)
('B2-C3', 0, None)
('B2-C4', 0, None)
('B2-C5', 0, None)
('B2-C6', 0, None)
('B2-C7', 0, None)
('B2-C8', 0, None)
('B2-C9', 0, None)
('B2-C10', 0, None)
('B2-D1', 0, None)
('B2-D2', 0, None)
('B2-D3', 0, None)
('B2-D4', 0, None)
('B2-D5', 0, None)
('B2-D6', 0, None)
('B2-D7', 0, None)
('B2-D8', 0, None)
('B2-D9', 0, None)
('B2-D10', 0, None)
('B2-E1', 0, None)
('B2-E2', 0, None)
('B2-E3', 0, None)
('B2-E4', 0, None)
('B2-E5', 0, None)
('B2-E6', 0, None)
('B2-E7', 0, None)
('B2-E8', 0, None)
('B2-E9', 0, None)
('B2-E10', 0, None)
('B2-F1', 0, None)
('B2-F2', 0, None)
('B2-F3', 0, None)
('B2-F4', 0, None)
('B2-F5', 0, None)
('B2-F6', 0, None)
('B2-F7', 0, None)
('B2-F8', 0, None)
('B2-F9', 0, None)
('B2-F10', 0, None)
('B2-G1', 0, None)
('B2-G2', 0, None)
('B2-G3', 0, None)
('B2-G4', 0, None)
('B2-G5', 0, None)
('B2-G6', 0, None)
('B2-G7', 0, None)
('B2-G8', 0, None)
('B2-G9', 0, None)
('B2-G10', 0, None)
('B2-H1', 0, None)
('B2-H2', 0, None)
('B2-H3', 0, None)
('B2-H4', 0, None)
('B2-H5', 0, None)
('B2-H6', 0, None)
('B2-H7', 0, None)
('B2-H8', 0, None)
('B2-H9', 0, None)
('B2-H10', 0, None)
('B2-I1', 0, None)
('B2-I2', 0, None)
('B2-I3', 0, None)
('B2-I4', 0, None)
('B2-I5', 0, None)
('B2-I6', 0, None)
('B2-I7', 0, None)
('B2-I8', 0, None)
('B2-I9', 0, None)
('B2-I10', 0, None)
('B2-J1', 0, None)
('B2-J2', 0, None)
('B2-J3', 0, None)
('B2-J4', 0, None)
('B2-J5', 0, None)
('B2-J6', 0, None)
('B2-J7', 0, None)
('B2-J8', 0, None)
('B2-J9', 0, None)
('B2-J10', 0, None)
('B3-A1', 0, None)
('B3-A2', 0, None)
('B3-A3', 0, None)
('B3-A4', 0, None)
('B3-A5', 0, None)
('B3-A6', 0, None)
('B3-A7', 0, None)
('B3-A8', 0, None)
('B3-A9', 0, None)
('B3-A10', 0, None)
('B3-B1', 0, None)
('B3-B2', 0, None)
('B3-B3', 0, None)
('B3-B4', 0, None)
('B3-B5', 0, None)
('B3-B6', 0, None)
('B3-B7', 0, None)
('B3-B8', 0, None)
('B3-B9', 0, None)
('B3-B10', 0, None)
('B3-C1', 0, None)
('B3-C2', 0, None)
('B3-C3', 0, None)
('B3-C4', 0, None)
('B3-C5', 0, None)
('B3-C6', 0, None)
('B3-C7', 0, None)
('B3-C8', 0, None)
('B3-C9', 0, None)
('B3-C10', 0, None)
('B3-D1', 0, None)
('B3-D2', 0, None)
('B3-D3', 0, None)
('B3-D4', 0, None)
('B3-D5', 0, None)
('B3-D6', 0, None)
('B3-D7', 0, None)
('B3-D8', 0, None)
('B3-D9', 0, None)
('B3-D10', 0, None)
('B3-E1', 0, None)
('B3-E2', 0, None)
('B3-E3', 0, None)
('B3-E4', 0, None)
('B3-E5', 0, None)
('B3-E6', 0, None)
('B3-E7', 0, None)
('B3-E8', 0, None)
('B3-E9', 0, None)
('B3-E10', 0, None)
('B3-F1', 0, None)
('B3-F2', 0, None)
('B3-F3', 0, None)
('B3-F4', 0, None)
('B3-F5', 0, None)
('B3-F6', 0, None)
('B3-F7', 0, None)
('B3-F8', 0, None)
('B3-F9', 0, None)
('B3-F10', 0, None)
('B3-G1', 0, None)
('B3-G2', 0, None)
('B3-G3', 0, None)
('B3-G4', 0, None)
('B3-G5', 0, None)
('B3-G6', 0, None)
('B3-G7', 0, None)
('B3-G8', 0, None)
('B3-G9', 0, None)
('B3-G10', 0, None)
('B3-H1', 0, None)
('B3-H2', 0, None)
('B3-H3', 0, None)
('B3-H4', 0, None)
('B3-H5', 0, None)
('B3-H6', 0, None)
('B3-H7', 0, None)
('B3-H8', 0, None)
('B3-H9', 0, None)
('B3-H10', 0, None)
('B3-I1', 0, None)
('B3-I2', 0, None)
('B3-I3', 0, None)
('B3-I4', 0, None)
('B3-I5', 0, None)
('B3-I6', 0, None)
('B3-I7', 0, None)
('B3-I8', 0, None)
('B3-I9', 0, None)
('B3-I10', 0, None)
('B3-J1', 0, None)
('B3-J2', 0, None)
('B3-J3', 0, None)
('B3-J4', 0, None)
('B3-J5', 0, None)
('B3-J6', 0, None)
('B3-J7', 0, None)
('B3-J8', 0, None)
('B3-J9', 0, None)
('B3-J10', 0, None)

In [29]:
cur.execute("SELECT * FROM CUSTOMER_LIST WHERE Customer_car_num LIKE '89오%'")

In [30]:
# 데이타 Fetch
rows = cur.fetchall()
for row in rows:
    print(row)

('89오2622', 'MasterCard 3655-7342-6203-9308', 'KANG SEO SEOK')

In [47]:
cur.execute("SELECT * FROM CUSTOMER_LIST WHERE Customer_car_num = '70우7253'")

In [48]:
# 데이타 Fetch
rows = cur.fetchall()
for row in rows:
    print(row)

('70우7253',)

In [53]:

    
    
    
# Excute
cur.execute('SELECT Parking_spot FROM PARKINGLOT_LIST') 
pklt_list = []

for row in cur:
    pklt_list.append(row[0])
print(pklt_list)

['00저0234', '04보5489', '06보2942', '08거8462', '10어3621', '11허6306', '12가1234', '12자7883', '15허7246', '18고0741', '19로5462', '19하4743', '26도9148', '26라0373', '30모5472', '32러8533', '33조7704', '38로2985', '41다8603', '42마8085', '42버2438', '44무2954', '46사2479', '49루0663', '50거6064', '53어8987', '55어5873', '57주9582', '61누9952', '63두4202', '63조1349', '64러4617', '67주9198', '69부1494', '70우7253', '73거8486', '75호2168', '78도7807', '78주5458', '81무6102', '83조6367', '86머5779', '86소8166', '89배6852', '89오2622', '90더8969', '90바4515', '93로1919', '93마5409', '94다8918', '99머0331']
['B1-A1', 'B1-A10', 'B1-A2', 'B1-A3', 'B1-A4', 'B1-A5', 'B1-A6', 'B1-A7', 'B1-A8', 'B1-A9', 'B1-B1', 'B1-B10', 'B1-B2', 'B1-B3', 'B1-B4', 'B1-B5', 'B1-B6', 'B1-B7', 'B1-B8', 'B1-B9', 'B1-C1', 'B1-C10', 'B1-C2', 'B1-C3', 'B1-C4', 'B1-C5', 'B1-C6', 'B1-C7', 'B1-C8', 'B1-C9', 'B1-D1', 'B1-D10', 'B1-D2', 'B1-D3', 'B1-D4', 'B1-D5', 'B1-D6', 'B1-D7', 'B1-D8', 'B1-D9', 'B1-E1', 'B1-E10', 'B1-E2', 'B1-E3', 'B1-E4', 'B1-E5', 'B1-E6', 'B1-E7', 'B1-E8', 'B1-E9', 'B1-F1', 'B1-F10', 'B1-F2', 'B1-F3', 'B1-F4', 'B1-F5', 'B1-F6', 'B1-F7', 'B1-F8', 'B1-F9', 'B1-G1', 'B1-G10', 'B1-G2', 'B1-G3', 'B1-G4', 'B1-G5', 'B1-G6', 'B1-G7', 'B1-G8', 'B1-G9', 'B1-H1', 'B1-H10', 'B1-H2', 'B1-H3', 'B1-H4', 'B1-H5', 'B1-H6', 'B1-H7', 'B1-H8', 'B1-H9', 'B1-I1', 'B1-I10', 'B1-I2', 'B1-I3', 'B1-I4', 'B1-I5', 'B1-I6', 'B1-I7', 'B1-I8', 'B1-I9', 'B1-J1', 'B1-J10', 'B1-J2', 'B1-J3', 'B1-J4', 'B1-J5', 'B1-J6', 'B1-J7', 'B1-J8', 'B1-J9', 'B2-A1', 'B2-A10', 'B2-A2', 'B2-A3', 'B2-A4', 'B2-A5', 'B2-A6', 'B2-A7', 'B2-A8', 'B2-A9', 'B2-B1', 'B2-B10', 'B2-B2', 'B2-B3', 'B2-B4', 'B2-B5', 'B2-B6', 'B2-B7', 'B2-B8', 'B2-B9', 'B2-C1', 'B2-C10', 'B2-C2', 'B2-C3', 'B2-C4', 'B2-C5', 'B2-C6', 'B2-C7', 'B2-C8', 'B2-C9', 'B2-D1', 'B2-D10', 'B2-D2', 'B2-D3', 'B2-D4', 'B2-D5', 'B2-D6', 'B2-D7', 'B2-D8', 'B2-D9', 'B2-E1', 'B2-E10', 'B2-E2', 'B2-E3', 'B2-E4', 'B2-E5', 'B2-E6', 'B2-E7', 'B2-E8', 'B2-E9', 'B2-F1', 'B2-F10', 'B2-F2', 'B2-F3', 'B2-F4', 'B2-F5', 'B2-F6', 'B2-F7', 'B2-F8', 'B2-F9', 'B2-G1', 'B2-G10', 'B2-G2', 'B2-G3', 'B2-G4', 'B2-G5', 'B2-G6', 'B2-G7', 'B2-G8', 'B2-G9', 'B2-H1', 'B2-H10', 'B2-H2', 'B2-H3', 'B2-H4', 'B2-H5', 'B2-H6', 'B2-H7', 'B2-H8', 'B2-H9', 'B2-I1', 'B2-I10', 'B2-I2', 'B2-I3', 'B2-I4', 'B2-I5', 'B2-I6', 'B2-I7', 'B2-I8', 'B2-I9', 'B2-J1', 'B2-J10', 'B2-J2', 'B2-J3', 'B2-J4', 'B2-J5', 'B2-J6', 'B2-J7', 'B2-J8', 'B2-J9', 'B3-A1', 'B3-A10', 'B3-A2', 'B3-A3', 'B3-A4', 'B3-A5', 'B3-A6', 'B3-A7', 'B3-A8', 'B3-A9', 'B3-B1', 'B3-B10', 'B3-B2', 'B3-B3', 'B3-B4', 'B3-B5', 'B3-B6', 'B3-B7', 'B3-B8', 'B3-B9', 'B3-C1', 'B3-C10', 'B3-C2', 'B3-C3', 'B3-C4', 'B3-C5', 'B3-C6', 'B3-C7', 'B3-C8', 'B3-C9', 'B3-D1', 'B3-D10', 'B3-D2', 'B3-D3', 'B3-D4', 'B3-D5', 'B3-D6', 'B3-D7', 'B3-D8', 'B3-D9', 'B3-E1', 'B3-E10', 'B3-E2', 'B3-E3', 'B3-E4', 'B3-E5', 'B3-E6', 'B3-E7', 'B3-E8', 'B3-E9', 'B3-F1', 'B3-F10', 'B3-F2', 'B3-F3', 'B3-F4', 'B3-F5', 'B3-F6', 'B3-F7', 'B3-F8', 'B3-F9', 'B3-G1', 'B3-G10', 'B3-G2', 'B3-G3', 'B3-G4', 'B3-G5', 'B3-G6', 'B3-G7', 'B3-G8', 'B3-G9', 'B3-H1', 'B3-H10', 'B3-H2', 'B3-H3', 'B3-H4', 'B3-H5', 'B3-H6', 'B3-H7', 'B3-H8', 'B3-H9', 'B3-I1', 'B3-I10', 'B3-I2', 'B3-I3', 'B3-I4', 'B3-I5', 'B3-I6', 'B3-I7', 'B3-I8', 'B3-I9', 'B3-J1', 'B3-J10', 'B3-J2', 'B3-J3', 'B3-J4', 'B3-J5', 'B3-J6', 'B3-J7', 'B3-J8', 'B3-J9']

In [8]:
import random
import time

def strDateProp(start, end, format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formated in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    sdate = time.mktime(time.strptime(start, format))
    edate = time.mktime(time.strptime(end, format))
    pdate = sdate + prop * (edate - sdate)

    return time.strftime(format, time.localtime(pdate))




def strTimeProp(start, end, format, prop, date):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formated in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """
    start_dt = date + ' ' + start
    end_dt = date + ' ' + end
    stime = time.mktime(time.strptime(start_dt, '%m/%d/%Y %I:%M:%S %p'))
    etime = time.mktime(time.strptime(end_dt, '%m/%d/%Y %I:%M:%S %p'))
    ptime = stime + prop * (etime - stime)

    return time.strftime(format, time.localtime(ptime))




def randomDate(start, end, prop):
    return strDateProp(start, end, '%Y-%m-%d', prop)
print(randomDate("2016-01-01", "2018-11-22", random.random()))


def randomTime(start, end, format, prop, date = '1/1/2018'):
    return strTimeProp(start, end, format, prop, date)
# Open Hours : 11:00:00 AM to 11:00:00 PM
print (randomTime("11:00:00 AM", "11:00:00 PM", '%I:%M:%S %p', random.random()))
print (randomTime("11:00:00 AM", "11:00:00 PM", '%m/%d/%Y %I:%M:%S %p', random.random(), '12/8/2018'))

2017-12-31
11:58:02 AM
12/08/2018 05:48:53 PM

In [117]:
##################################################################
def mk_sample_spay(spay_num, start_date, end_date, open_time, close_time, cnum_list):
    '''
    Make sample tuples of SHOPPING_PAY and insert them to SHOPPING_PAY
    SHOPPING_PAY = {Spay_id, Customer_car_num, Shopping_pay_amount, Shopping_pay_time}
    # Format of parameters 
      spay_num : int, 
      start_date, end_date : str'%Y-%m-%d' 
      open_time, close_time : str '%I:%M:%S %p'
      cnum_list : list of Customer_car_num
    '''
    for i in range (spay_num):
        cur.execute("INSERT INTO SHOPPING_PAY(Customer_car_num, Shopping_pay_amount, Shopping_pay_time) VALUES('"
                    + cnum_list[random.randrange(len(cnum_list))] 
                    + "'," + str((random.randrange(10,30000))*10)
                    + ",'" + randomDate(start_date, end_date, random.random()) + ' '
                    + randomTime(open_time, close_time, random.random())+"')")
    return 0

In [121]:
# Get Customer_car_num list
cur.execute('SELECT Customer_car_num FROM CUSTOMER_LIST') 
cnum_list = []
for row in cur:
    cnum_list.append(row[0])
    
# Make Sample tuples and insert them into SHOPPING_PAY table 
sample_data_num = 20
start_date = "2016-01-01"
end_date = "2018-11-22"
open_time = "11:00:00 AM"
close_time = "11:00:00 PM"
mk_sample_spay(sample_data_num, start_date, end_date, open_time, close_time, cnum_list)

0

In [122]:
# SQL 쿼리 실행은 cur.execute로 함
cur.execute("select * from SHOPPING_PAY")

# 데이타 Fetch
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '81무6102', 70780, '2016-01-27 04:39:30 PM')
(2, '00저0234', 277390, '2017-07-10 11:47:50 AM')
(3, '11허6306', 224980, '2018-09-29 10:05:43 PM')
(4, '53어8987', 2200, '2017-01-16 12:23:37 PM')
(5, '00저0234', 88680, '2018-07-11 07:23:46 PM')
(6, '90바4515', 295240, '2016-08-27 08:01:09 PM')
(7, '41다8603', 62750, '2016-04-21 04:31:50 PM')
(8, '44무2954', 125970, '2016-06-26 04:03:37 PM')
(9, '89배6852', 142720, '2016-06-05 10:11:55 PM')
(10, '18고0741', 171850, '2016-11-29 01:30:23 PM')
(11, '19하4743', 145630, '2017-01-03 10:48:06 PM')
(12, '57주9582', 264480, '2017-06-03 07:45:26 PM')
(13, '99머0331', 64380, '2017-04-08 01:27:04 PM')
(14, '90더8969', 16410, '2018-08-14 11:23:57 AM')
(15, '83조6367', 27840, '2018-07-08 03:21:47 PM')
(16, '93로1919', 209180, '2017-12-16 01:47:48 PM')
(17, '42마8085', 200800, '2016-04-01 09:25:34 PM')
(18, '93마5409', 93300, '2018-03-25 09:35:43 PM')
(19, '55어5873', 150270, '2016-02-26 07:21:41 PM')
(20, '86소8166', 212600, '2018-10-05 10:09:25 PM')

In [127]:
alist = [['a','b'],['c','d'],['e','f'],['g','h'],['i','j']]
print(alist[0])
print(alist[3][1])
print(len(alist))

['a', 'b']
h
5

In [184]:
# SQL 쿼리 실행은 cur.execute로 함
cur.execute("select * from SHOPPING_PAY")

# 데이타 Fetch
rows = cur.fetchall()

ss = [[r[0],r[1],r[2], r[3]] for r in rows]
times = [t[3].split()[1:] for t in ss]
print(times)

timestr = [' '.join(t) for t in times]
print(timestr)

[['04:39:30', 'PM'], ['11:47:50', 'AM'], ['10:05:43', 'PM'], ['12:23:37', 'PM'], ['07:23:46', 'PM'], ['08:01:09', 'PM'], ['04:31:50', 'PM'], ['04:03:37', 'PM'], ['10:11:55', 'PM'], ['01:30:23', 'PM'], ['10:48:06', 'PM'], ['07:45:26', 'PM'], ['01:27:04', 'PM'], ['11:23:57', 'AM'], ['03:21:47', 'PM'], ['01:47:48', 'PM'], ['09:25:34', 'PM'], ['09:35:43', 'PM'], ['07:21:41', 'PM'], ['10:09:25', 'PM']]
['04:39:30 PM', '11:47:50 AM', '10:05:43 PM', '12:23:37 PM', '07:23:46 PM', '08:01:09 PM', '04:31:50 PM', '04:03:37 PM', '10:11:55 PM', '01:30:23 PM', '10:48:06 PM', '07:45:26 PM', '01:27:04 PM', '11:23:57 AM', '03:21:47 PM', '01:47:48 PM', '09:25:34 PM', '09:35:43 PM', '07:21:41 PM', '10:09:25 PM']

In [193]:
# string to to time.struct_time
time.strptime("2018-11-22 11:30:00 AM",'%Y-%m-%d %I:%M:%S %p')

time.struct_time(tm_year=2018, tm_mon=11, tm_mday=22, tm_hour=11, tm_min=30, tm_sec=0, tm_wday=3, tm_yday=326, tm_isdst=-1)

In [228]:
import datetime
adate = datetime.datetime.strptime("23.10.2012", "%d.%m.%Y").date()
print(adate + datetime.timedelta(days=30))
atime = datetime.datetime.strptime("2018-11-22 11:30:00 AM",'%Y-%m-%d %I:%M:%S %p').date()
aaaa = 12
print(atime + datetime.timedelta(hours=-aaaa))
print(type(str(atime + datetime.timedelta(hours=-aaaa))))

2012-11-22
2018-11-21
<class 'str'>

In [205]:
pklt_list

['B1-A1',
 'B1-A10',
 'B1-A2',
 'B1-A3',
 'B1-A4',
 'B1-A5',
 'B1-A6',
 'B1-A7',
 'B1-A8',
 'B1-A9',
 'B1-B1',
 'B1-B10',
 'B1-B2',
 'B1-B3',
 'B1-B4',
 'B1-B5',
 'B1-B6',
 'B1-B7',
 'B1-B8',
 'B1-B9',
 'B1-C1',
 'B1-C10',
 'B1-C2',
 'B1-C3',
 'B1-C4',
 'B1-C5',
 'B1-C6',
 'B1-C7',
 'B1-C8',
 'B1-C9',
 'B1-D1',
 'B1-D10',
 'B1-D2',
 'B1-D3',
 'B1-D4',
 'B1-D5',
 'B1-D6',
 'B1-D7',
 'B1-D8',
 'B1-D9',
 'B1-E1',
 'B1-E10',
 'B1-E2',
 'B1-E3',
 'B1-E4',
 'B1-E5',
 'B1-E6',
 'B1-E7',
 'B1-E8',
 'B1-E9',
 'B1-F1',
 'B1-F10',
 'B1-F2',
 'B1-F3',
 'B1-F4',
 'B1-F5',
 'B1-F6',
 'B1-F7',
 'B1-F8',
 'B1-F9',
 'B1-G1',
 'B1-G10',
 'B1-G2',
 'B1-G3',
 'B1-G4',
 'B1-G5',
 'B1-G6',
 'B1-G7',
 'B1-G8',
 'B1-G9',
 'B1-H1',
 'B1-H10',
 'B1-H2',
 'B1-H3',
 'B1-H4',
 'B1-H5',
 'B1-H6',
 'B1-H7',
 'B1-H8',
 'B1-H9',
 'B1-I1',
 'B1-I10',
 'B1-I2',
 'B1-I3',
 'B1-I4',
 'B1-I5',
 'B1-I6',
 'B1-I7',
 'B1-I8',
 'B1-I9',
 'B1-J1',
 'B1-J10',
 'B1-J2',
 'B1-J3',
 'B1-J4',
 'B1-J5',
 'B1-J6',
 'B1-J7',
 'B1-J8',
 'B1-J9',
 'B2-A1',
 'B2-A10',
 'B2-A2',
 'B2-A3',
 'B2-A4',
 'B2-A5',
 'B2-A6',
 'B2-A7',
 'B2-A8',
 'B2-A9',
 'B2-B1',
 'B2-B10',
 'B2-B2',
 'B2-B3',
 'B2-B4',
 'B2-B5',
 'B2-B6',
 'B2-B7',
 'B2-B8',
 'B2-B9',
 'B2-C1',
 'B2-C10',
 'B2-C2',
 'B2-C3',
 'B2-C4',
 'B2-C5',
 'B2-C6',
 'B2-C7',
 'B2-C8',
 'B2-C9',
 'B2-D1',
 'B2-D10',
 'B2-D2',
 'B2-D3',
 'B2-D4',
 'B2-D5',
 'B2-D6',
 'B2-D7',
 'B2-D8',
 'B2-D9',
 'B2-E1',
 'B2-E10',
 'B2-E2',
 'B2-E3',
 'B2-E4',
 'B2-E5',
 'B2-E6',
 'B2-E7',
 'B2-E8',
 'B2-E9',
 'B2-F1',
 'B2-F10',
 'B2-F2',
 'B2-F3',
 'B2-F4',
 'B2-F5',
 'B2-F6',
 'B2-F7',
 'B2-F8',
 'B2-F9',
 'B2-G1',
 'B2-G10',
 'B2-G2',
 'B2-G3',
 'B2-G4',
 'B2-G5',
 'B2-G6',
 'B2-G7',
 'B2-G8',
 'B2-G9',
 'B2-H1',
 'B2-H10',
 'B2-H2',
 'B2-H3',
 'B2-H4',
 'B2-H5',
 'B2-H6',
 'B2-H7',
 'B2-H8',
 'B2-H9',
 'B2-I1',
 'B2-I10',
 'B2-I2',
 'B2-I3',
 'B2-I4',
 'B2-I5',
 'B2-I6',
 'B2-I7',
 'B2-I8',
 'B2-I9',
 'B2-J1',
 'B2-J10',
 'B2-J2',
 'B2-J3',
 'B2-J4',
 'B2-J5',
 'B2-J6',
 'B2-J7',
 'B2-J8',
 'B2-J9',
 'B3-A1',
 'B3-A10',
 'B3-A2',
 'B3-A3',
 'B3-A4',
 'B3-A5',
 'B3-A6',
 'B3-A7',
 'B3-A8',
 'B3-A9',
 'B3-B1',
 'B3-B10',
 'B3-B2',
 'B3-B3',
 'B3-B4',
 'B3-B5',
 'B3-B6',
 'B3-B7',
 'B3-B8',
 'B3-B9',
 'B3-C1',
 'B3-C10',
 'B3-C2',
 'B3-C3',
 'B3-C4',
 'B3-C5',
 'B3-C6',
 'B3-C7',
 'B3-C8',
 'B3-C9',
 'B3-D1',
 'B3-D10',
 'B3-D2',
 'B3-D3',
 'B3-D4',
 'B3-D5',
 'B3-D6',
 'B3-D7',
 'B3-D8',
 'B3-D9',
 'B3-E1',
 'B3-E10',
 'B3-E2',
 'B3-E3',
 'B3-E4',
 'B3-E5',
 'B3-E6',
 'B3-E7',
 'B3-E8',
 'B3-E9',
 'B3-F1',
 'B3-F10',
 'B3-F2',
 'B3-F3',
 'B3-F4',
 'B3-F5',
 'B3-F6',
 'B3-F7',
 'B3-F8',
 'B3-F9',
 'B3-G1',
 'B3-G10',
 'B3-G2',
 'B3-G3',
 'B3-G4',
 'B3-G5',
 'B3-G6',
 'B3-G7',
 'B3-G8',
 'B3-G9',
 'B3-H1',
 'B3-H10',
 'B3-H2',
 'B3-H3',
 'B3-H4',
 'B3-H5',
 'B3-H6',
 'B3-H7',
 'B3-H8',
 'B3-H9',
 'B3-I1',
 'B3-I10',
 'B3-I2',
 'B3-I3',
 'B3-I4',
 'B3-I5',
 'B3-I6',
 'B3-I7',
 'B3-I8',
 'B3-I9',
 'B3-J1',
 'B3-J10',
 'B3-J2',
 'B3-J3',
 'B3-J4',
 'B3-J5',
 'B3-J6',
 'B3-J7',
 'B3-J8',
 'B3-J9']

In [219]:
##################################################################
# Get price from PRICE
def get_price(cur):
    cur.execute('SELECT * FROM PRICE') 
    price = []
    for row in cur:
        price.append(row[0])
        price.append(row[1])
    return price
    
# Get discount list from DISCOUNT
def get_discount(cur):
    cur.execute('SELECT * FROM DISCOUNT') 
    discount = []
    for row in cur:
        discount.append([row[0], row[1]])
    return discount

# Get spay_list[[Customer_car_num, Shopping_pay_amount, Shopping_pay_time]] from SHOPPING_PAY
def get_spay(cur):
    cur.execute('SELECT Customer_car_num, Shopping_pay_amount, Shopping_pay_time FROM SHOPPING_PAY') 
    spay = []
    for row in cur:
        spay.append([row[0], row[1],row[2]])
    return spay

def calculate_free_hour(spay_amount, discount):
    '''
    # Format of parameters 
      spay_amount : int
      # discount is table of ['Shopping_pay_minimum','Free_hour']
      discount : list [m][2] like  [[10000,1],[30000,2],[50000,3],[70000,4],[100000,5]]
    '''
    for i in range(len(discount)):
        if spay_amount < discount[i][0]:
            return discount[i][1]-1
    return discount[i][1]

    
def calculate_price(minutes, price_list):
    '''
    price_list = [Unit_minute, Unit_price]
    '''
    t = int(minutes / price_list[0])
    if (minutes % price_list[0] == 0):
        return int(t * price_list[1])
    else:
        return int((t + 1) * price_list[1])
    
def diff_minute (start, end, format):
    "Convert time string to minutes"
    seconds = time.mktime(time.strptime(end,format)) - time.mktime(time.strptime(start,format))
    minutes = int(seconds/60)
    return minutes


import datetime
def mk_sample_ppay(open_time, close_time, spay_list, pklt_list, discount_list, price_list,format):
    '''
    Make sample tuples of PARK_PAY and insert them to PARK_PAY
    PARK_PAY = {Ppay_id, Customer_car_num, Parking_spot, Park_in, Park_out, Park_free_hour, Park_pay_amount, Park_is_paid}
    # Format of parameters 
      spay_list : [[Customer_car_num, Shopping_pay_amount, Shopping_pay_time]] 
      start_date, end_date : str'%Y-%m-%d' 
      open_time, close_time : str '%I:%M:%S %p'
      cnum_list : list of Customer_car_num
    '''
    dates = [t[2].split()[0] for t in spay_list]
    times = [t[2].split()[1:] for t in spay_list]
    print(times)
    sp_times = [' '.join(t) for t in times]
    print(sp_times)
    

    # 당일주차만 한다고 가정함. 오늘 입차했으면 오늘 빼야 함
    # 주차한 사람은 무조건 쇼핑했다고 가정함. 쇼핑을 하지 않는 거래처 화물차량 등 주차만 하는 차량은 제외.
    # Start parking between open_time and shopping_pay_time (날짜 포함 안하고 시간만)
    stimes = [randomTime(open_time, t, random.random()) for t in sp_times]
    # End parking between shopping_pay_time and close_time (날짜 포함 안하고 시간만)
    etimes = [randomTime(t, close_time, random.random()) for t in sp_times]
    print(stimes)
    print(etimes)
    
    # parking start datetime
    p_start = [dates[i] + ' ' + stimes[i] for i in range(len(spay_list))]
    # parking end datetime
    p_end = [dates[i] + ' ' + etimes[i] for i in range(len(spay_list))]
    # hours availble for free parking
    f_hrs = [calculate_free_hour(spay_list[i][1], discount_list) for i in range(len(spay_list))]

    for i in range (len(spay_list)):
        cur.execute("INSERT INTO PARK_PAY(Customer_car_num, Parking_spot, Park_in, Park_out, Park_free_hour, Park_pay_amount, Park_is_paid) "
                    + "VALUES('"
                    + spay_list[i][0] 
                    + "','" + pklt_list[i]
                    + "','" + p_start[i]
                    + "','" + p_end[i]
                    + "'," + f_hrs[i]
                    + "," + str(calculate_price(diff_minute (p_start[i], p_end[i] + datetime.timedelta(hours = - f_hrs[i]), format), price_list))
                    + "," + str(1) + ")")
    return 0

In [222]:
print(spay_list)

[['81무6102', 70780, '2016-01-27 04:39:30 PM'], ['00저0234', 277390, '2017-07-10 11:47:50 AM'], ['11허6306', 224980, '2018-09-29 10:05:43 PM'], ['53어8987', 2200, '2017-01-16 12:23:37 PM'], ['00저0234', 88680, '2018-07-11 07:23:46 PM'], ['90바4515', 295240, '2016-08-27 08:01:09 PM'], ['41다8603', 62750, '2016-04-21 04:31:50 PM'], ['44무2954', 125970, '2016-06-26 04:03:37 PM'], ['89배6852', 142720, '2016-06-05 10:11:55 PM'], ['18고0741', 171850, '2016-11-29 01:30:23 PM'], ['19하4743', 145630, '2017-01-03 10:48:06 PM'], ['57주9582', 264480, '2017-06-03 07:45:26 PM'], ['99머0331', 64380, '2017-04-08 01:27:04 PM'], ['90더8969', 16410, '2018-08-14 11:23:57 AM'], ['83조6367', 27840, '2018-07-08 03:21:47 PM'], ['93로1919', 209180, '2017-12-16 01:47:48 PM'], ['42마8085', 200800, '2016-04-01 09:25:34 PM'], ['93마5409', 93300, '2018-03-25 09:35:43 PM'], ['55어5873', 150270, '2016-02-26 07:21:41 PM'], ['86소8166', 212600, '2018-10-05 10:09:25 PM']]

In [235]:
a = datetime.datetime.strptime('2016-11-29 06:30:23 PM','%Y-%m-%d %I:%M:%S %p') + datetime.timedelta(hours = - 2)
print(a)
print(diff_minute ('2016-11-29 01:30:23 PM',  a, format))
# str(calculate_price(diff_minute ('2016-11-29 01:30:23 PM', '2016-11-29 06:30:23 PM' + datetime.timedelta(hours = - 2), format), price_list))

2016-11-29 16:30:23

TypeError: strptime() argument 0 must be str, not <class 'datetime.datetime'>

In [238]:
import numpy as np
ve = [30,50]
v = np.array(ve)
v.argmin()

0

In [221]:
# Get price_list from PRICE 
price_list = get_price(cur)
# Get discount_list from DISCOUNT
discount_list = get_discount(cur)
# Get spay_list[[Customer_car_num, Shopping_pay_amount, Shopping_pay_time]] from SHOPPING_PAY
spay_list = get_spay(cur)
open_time = "11:00:00 AM"
close_time = "11:00:00 PM"
format = '%Y-%m-%d %I:%M:%S %p'
mk_sample_ppay(open_time, close_time, spay_list, pklt_list, discount_list, price_list,format)
print_table('PARK_PAY', cur)

[['04:39:30', 'PM'], ['11:47:50', 'AM'], ['10:05:43', 'PM'], ['12:23:37', 'PM'], ['07:23:46', 'PM'], ['08:01:09', 'PM'], ['04:31:50', 'PM'], ['04:03:37', 'PM'], ['10:11:55', 'PM'], ['01:30:23', 'PM'], ['10:48:06', 'PM'], ['07:45:26', 'PM'], ['01:27:04', 'PM'], ['11:23:57', 'AM'], ['03:21:47', 'PM'], ['01:47:48', 'PM'], ['09:25:34', 'PM'], ['09:35:43', 'PM'], ['07:21:41', 'PM'], ['10:09:25', 'PM']]
['04:39:30 PM', '11:47:50 AM', '10:05:43 PM', '12:23:37 PM', '07:23:46 PM', '08:01:09 PM', '04:31:50 PM', '04:03:37 PM', '10:11:55 PM', '01:30:23 PM', '10:48:06 PM', '07:45:26 PM', '01:27:04 PM', '11:23:57 AM', '03:21:47 PM', '01:47:48 PM', '09:25:34 PM', '09:35:43 PM', '07:21:41 PM', '10:09:25 PM']
['12:23:47 PM', '11:01:03 AM', '07:56:52 PM', '11:14:07 AM', '05:36:48 PM', '05:09:57 PM', '11:55:51 AM', '11:23:49 AM', '09:23:18 PM', '12:29:54 PM', '06:19:22 PM', '03:00:23 PM', '11:22:04 AM', '11:14:25 AM', '12:06:05 PM', '01:15:13 PM', '06:38:21 PM', '11:17:20 AM', '06:47:46 PM', '11:24:18 AM']
['05:13:36 PM', '03:04:35 PM', '10:13:54 PM', '02:53:53 PM', '08:40:42 PM', '10:12:41 PM', '07:08:55 PM', '05:55:58 PM', '10:35:35 PM', '05:14:00 PM', '10:51:47 PM', '10:40:38 PM', '06:42:26 PM', '10:44:13 PM', '09:15:56 PM', '07:02:49 PM', '09:50:21 PM', '10:33:36 PM', '09:01:13 PM', '10:45:54 PM']

TypeError: must be str, not int

In [166]:
print(getPrice(cur))
print(getDiscount(cur))
print(calculate_free_hour(32000, getDiscount(cur)))
# testcase : 10분 단위로 떨어지는 시간 동안 주차한 경우
print(calculate_price(60, getPrice(cur)[0], getPrice(cur)[1]))
# testcase : 10분 단위로 떨어지지 않는 시간 동안 주차한 경우
print(calculate_price(57, getPrice(cur)[0], getPrice(cur)[1]))
print(calculate_price(43, getPrice(cur)[0], getPrice(cur)[1]))

[10, 500]
[[10000, 1], [30000, 2], [50000, 3], [70000, 4], [90000, 5]]
2
3000
3000
2500

In [167]:
# Get Customer_car_num list from SHOPPING_PAY
# This list means the list of customers who had paid for shopping.
cur.execute('SELECT Customer_car_num FROM SHOPPING_PAY') 
spay_cnum_list = []
for row in cur:
    spay_cnum_list.append(row[0])

# Get Shopping_pay_time list from SHOPPING_PAY
cur.execute('SELECT Shopping_pay_time FROM SHOPPING_PAY') 
spay_tme_list = []
for row in cur:
    spay_tme_list.append(row[0])

# Get Parking_spot list from PARKINGLOT_LIST
cur.execute('SELECT Parking_spot FROM PARKINGLOT_LIST') 
pklt_list = []
for row in cur:
    pklt_list.append(row[0])

# Make Sample tuples and insert them into SHOPPING_PAY table 
sample_data_num = 20
start_date = "2016-01-01"
end_date = "2018-11-22"
open_time = "11:00:00 AM"
close_time = "11:00:00 PM"
mk_sample_ppay(sample_data_num, start_date, end_date, open_time, close_time, spay_cnum_list, spay_tme_list, pklt_list)

TypeError: mk_sample_ppay() takes 7 positional arguments but 8 were given

In [176]:
def diff_minute (start, end, format):
    "Convert time string to minutes"
    seconds = time.mktime(time.strptime(end,format)) - time.mktime(time.strptime(start,format))
    minutes = int(seconds/60)
    return minutes

In [178]:
# 초 단위는 삭제됨
print(diff_minute ("2018-11-22 11:29:00 AM","2018-11-22 11:30:01 AM",'%Y-%m-%d %I:%M:%S %p')) # 0 hr 0 min 59 sec
print(diff_minute ("2018-11-22 11:29:01 AM","2018-11-22 11:30:00 AM",'%Y-%m-%d %I:%M:%S %p')) # 0 hr 1 min  1 sec
print(diff_minute ("2018-11-22 11:30:00 AM","2018-11-22 5:30:21 PM",'%Y-%m-%d %I:%M:%S %p'))  # 6 hr 0 min 21 sec

1
0
360

In [171]:
# string to to time.struct_time
time.mktime(time.strptime("2018-11-22 11:30:00 AM",'%Y-%m-%d %I:%M:%S %p')) - time.mktime(time.strptime("2018-11-22 11:29:00 AM",'%Y-%m-%d %I:%M:%S %p'))

60.0

In [144]:
cur.execute("ALTER TABLE DISCOUNT RENAME TO SHOPPING_PAY_DEL")

cur.execute("""
    CREATE TABLE DISCOUNT (
	Shopping_pay_minimum integer,
	Free_hour integer)""")

cur.execute("DROP TABLE SHOPPING_PAY_DEL")

In [239]:
print_table('CUSTOMER_LIST', cur)

('12가1234', 'VISA 1234-1234-1234-1234', 'KIM MIN JI')
('49루0663', 'Amex 8376-7961-6634-4969', 'JEONG MIN JOO')
('64러4617', 'MasterCard 1553-4104-8725-9861', 'PARK HYUN MI')
('93마5409', 'BC 9171-1649-5796-7113', 'HYUN JI JOO')
('70우7253', 'UnionPay 4267-1020-8989-0230', 'LEE SOO JOON')
('78주5458', 'MasterCard 5328-1031-3130-9298', 'KONG KYUNG AH')
('69부1494', 'VISA 5243-8322-8016-1786', 'YOON SEONG YEON')
('90더8969', 'Amex 8852-3329-9882-8965', 'CHA HYUN WOON')
('11허6306', 'Amex 9431-3966-4756-3012', 'KONG YOON JOON')
('78도7807', 'VISA 1471-2133-2450-0633', 'LEE SEONG SEOK')
('90바4515', 'UnionPay 3858-3525-9663-6871', 'CHA HYUN WOON')
('63조1349', 'Amex 1889-7969-9618-5493', 'KONG KYUNG JOON')
('93로1919', 'JCB 3612-6095-2793-5448', 'KANG SEO MI')
('18고0741', 'UnionPay 8752-9865-1212-0437', 'LEE KYUNG MI')
('50거6064', 'VISA 0596-9920-0354-3188', 'PARK MOON WOON')
('26라0373', 'UnionPay 6973-1662-4258-1146', 'KONG MOON YEON')
('44무2954', 'VISA 8251-7653-0645-9772', 'LEE SOO JOO')
('33조7704', 'UnionPay 2775-3332-0951-2592', 'PARK MIN YEON')
('15허7246', 'JCB 2864-0216-7727-6715', 'CHA SEONG YEON')
('83조6367', 'JCB 4111-2513-9184-0203', 'JEONG MOON HYUK')
('94다8918', 'Amex 2209-3934-7894-5770', 'CHA HYUN HYUK')
('75호2168', 'JCB 5083-6357-6789-1322', 'KIM JI JOO')
('89오2622', 'MasterCard 3655-7342-6203-9308', 'KANG SEO SEOK')
('89배6852', 'JCB 0766-2714-7296-1046', 'YOON YOON WOON')
('67주9198', 'UnionPay 0001-0637-8103-5340', 'YOON EUN JOON')
('53어8987', 'JCB 1367-2138-0241-6583', 'HAN SOO HYUK')
('00저0234', 'JCB 0038-8656-1602-3120', 'LEE JI JOO')
('38로2985', 'VISA 7792-6499-1332-0357', 'YOON EUN MI')
('32러8533', 'JCB 5686-1885-2530-4561', 'KIM SEO JOON')
('26도9148', 'Amex 6011-9297-0688-9954', 'HAN EUN WOON')
('81무6102', 'UnionPay 2921-3405-6153-9619', 'YOON SEO AH')
('19로5462', 'Amex 6016-1535-5541-0584', 'KIM HYUN AH')
('19하4743', 'Amex 6468-8986-2124-4807', 'LEE EUN JOO')
('06보2942', 'UnionPay 1161-4958-6605-5382', 'YOON SOO MI')
('12자7883', 'BC 5522-5630-2036-7849', 'LEE EUN SEOK')
('04보5489', 'JCB 2550-2728-9248-6153', 'HA MOON MI')
('10어3621', 'VISA 6304-0128-1606-6452', 'MOON SEONG YEON')
('57주9582', 'JCB 3559-6931-1370-6034', 'KONG HYUN AH')
('55어5873', 'VISA 1046-0452-8614-7399', 'HA KYUNG MI')
('63두4202', 'MasterCard 0689-3537-2397-1714', 'KONG EUN SEOK')
('46사2479', 'VISA 9768-7993-2431-9239', 'KANG SOO WOON')
('86소8166', 'BC 3309-8893-9990-3584', 'KIM MIN HYUK')
('41다8603', 'MasterCard 4208-9872-2554-6209', 'CHA HYUN WOON')
('08거8462', 'VISA 1087-3687-2138-0665', 'YOON SEO WOON')
('42버2438', 'JCB 7548-6083-8273-6262', 'MOON SEONG JOON')
('73거8486', 'UnionPay 1251-6985-3376-4745', 'MOON JI SEOK')
('61누9952', 'UnionPay 3826-0335-0003-2981', 'YOON SEONG YEON')
('42마8085', 'Amex 4961-6685-6294-6286', 'KIM YOON AH')
('30모5472', 'VISA 0588-7886-6846-2308', 'JEONG JI MI')
('86머5779', 'BC 0576-7639-6335-7518', 'KIM MOON WOON')
('99머0331', 'VISA 9802-2174-5306-1725', 'HWANG SEONG HYUK')