# import classes

In [33]:
from Pms_db import DBinit
import sqlite3

# Make DB.sqlite and Create Tables

In [22]:
# DBinit 인스턴스 생성 with file path
db_path = 'mypms_db.sqlite'
mypmsdb = DBinit(db_path)

# Create all tables  { PARKINGLOT_LIST, CUSTOMER_LIST, PARK_PAY, SHOPPING_PAY, PRICE, DISCOUNT }
mypmsdb.create_all()

DBinit 객체가 생성되었습니다.

# Put Sample Data in Tables

In [4]:
# Make Parkinglot list : B1층부터 B3층까지, zone A부터 J까지, 각 zone당 10칸씩
mypmsdb.mk_sample_parkinglot_list()
# Make Sample Customer tuples
mypmsdb.mk_sample_cust(20) # 20명의 샘플 데이터
# Make Sample Shopping pay tuples
mypmsdb.mk_sample_spay(37,'2018-11-04', '2018-11-28') # 37개의 샘플 데이터, 기간
# Make Price Table
mypmsdb.mk_sample_price('10', '500') # 10분 당 500원 (주의:string으로 넣어줘야 함)
# Make Discount Table
mypmsdb.mk_sample_discount(10000) # 최소 결제금액 100000원, 2만원당 1시간씩 할인시간 늘어남 (최대 5시간)

# Check

In [5]:
# PARKINGLOT_LIST, CUSTOMER_LIST, PARK_PAY, SHOPPING_PAY, PRICE, DISCOUNT
print('******** PARKINGLOT_LIST ********')
mypmsdb.print_table('PARKINGLOT_LIST')
print('******** CUSTOMER_LIST ********')
mypmsdb.print_table('CUSTOMER_LIST')
print('******** PARK_PAY ********')
mypmsdb.print_table('PARK_PAY')
print('******** SHOPPING_PAY ********')
mypmsdb.print_table('SHOPPING_PAY')
print('******** PRICE ********')
mypmsdb.print_table('PRICE')
print('******** DISCOUNT ********')
mypmsdb.print_table('DISCOUNT')

******** PARKINGLOT_LIST ********
('B1-A1', 0, None)
('B1-A2', 0, None)
('B1-A3', 0, None)
('B1-A4', 0, None)
('B1-A5', 0, None)
('B1-A6', 0, None)
('B1-A7', 0, None)
('B1-A8', 0, None)
('B1-A9', 0, None)
('B1-A10', 0, None)
('B1-B1', 0, None)
('B1-B2', 0, None)
('B1-B3', 0, None)
('B1-B4', 0, None)
('B1-B5', 0, None)
('B1-B6', 0, None)
('B1-B7', 0, None)
('B1-B8', 0, None)
('B1-B9', 0, None)
('B1-B10', 0, None)
('B1-C1', 0, None)
('B1-C2', 0, None)
('B1-C3', 0, None)
('B1-C4', 0, None)
('B1-C5', 0, None)
('B1-C6', 0, None)
('B1-C7', 0, None)
('B1-C8', 0, None)
('B1-C9', 0, None)
('B1-C10', 0, None)
('B1-D1', 0, None)
('B1-D2', 0, None)
('B1-D3', 0, None)
('B1-D4', 0, None)
('B1-D5', 0, None)
('B1-D6', 0, None)
('B1-D7', 0, None)
('B1-D8', 0, None)
('B1-D9', 0, None)
('B1-D10', 0, None)
('B1-E1', 0, None)
('B1-E2', 0, None)
('B1-E3', 0, None)
('B1-E4', 0, None)
('B1-E5', 0, None)
('B1-E6', 0, None)
('B1-E7', 0, None)
('B1-E8', 0, None)
('B1-E9', 0, None)
('B1-E10', 0, None)
('B1-F1', 0, None)
('B1-F2', 0, None)
('B1-F3', 0, None)
('B1-F4', 0, None)
('B1-F5', 0, None)
('B1-F6', 0, None)
('B1-F7', 0, None)
('B1-F8', 0, None)
('B1-F9', 0, None)
('B1-F10', 0, None)
('B1-G1', 0, None)
('B1-G2', 0, None)
('B1-G3', 0, None)
('B1-G4', 0, None)
('B1-G5', 0, None)
('B1-G6', 0, None)
('B1-G7', 0, None)
('B1-G8', 0, None)
('B1-G9', 0, None)
('B1-G10', 0, None)
('B1-H1', 0, None)
('B1-H2', 0, None)
('B1-H3', 0, None)
('B1-H4', 0, None)
('B1-H5', 0, None)
('B1-H6', 0, None)
('B1-H7', 0, None)
('B1-H8', 0, None)
('B1-H9', 0, None)
('B1-H10', 0, None)
('B1-I1', 0, None)
('B1-I2', 0, None)
('B1-I3', 0, None)
('B1-I4', 0, None)
('B1-I5', 0, None)
('B1-I6', 0, None)
('B1-I7', 0, None)
('B1-I8', 0, None)
('B1-I9', 0, None)
('B1-I10', 0, None)
('B1-J1', 0, None)
('B1-J2', 0, None)
('B1-J3', 0, None)
('B1-J4', 0, None)
('B1-J5', 0, None)
('B1-J6', 0, None)
('B1-J7', 0, None)
('B1-J8', 0, None)
('B1-J9', 0, None)
('B1-J10', 0, None)
('B2-A1', 0, None)
('B2-A2', 0, None)
('B2-A3', 0, None)
('B2-A4', 0, None)
('B2-A5', 0, None)
('B2-A6', 0, None)
('B2-A7', 0, None)
('B2-A8', 0, None)
('B2-A9', 0, None)
('B2-A10', 0, None)
('B2-B1', 0, None)
('B2-B2', 0, None)
('B2-B3', 0, None)
('B2-B4', 0, None)
('B2-B5', 0, None)
('B2-B6', 0, None)
('B2-B7', 0, None)
('B2-B8', 0, None)
('B2-B9', 0, None)
('B2-B10', 0, None)
('B2-C1', 0, None)
('B2-C2', 0, None)
('B2-C3', 0, None)
('B2-C4', 0, None)
('B2-C5', 0, None)
('B2-C6', 0, None)
('B2-C7', 0, None)
('B2-C8', 0, None)
('B2-C9', 0, None)
('B2-C10', 0, None)
('B2-D1', 0, None)
('B2-D2', 0, None)
('B2-D3', 0, None)
('B2-D4', 0, None)
('B2-D5', 0, None)
('B2-D6', 0, None)
('B2-D7', 0, None)
('B2-D8', 0, None)
('B2-D9', 0, None)
('B2-D10', 0, None)
('B2-E1', 0, None)
('B2-E2', 0, None)
('B2-E3', 0, None)
('B2-E4', 0, None)
('B2-E5', 0, None)
('B2-E6', 0, None)
('B2-E7', 0, None)
('B2-E8', 0, None)
('B2-E9', 0, None)
('B2-E10', 0, None)
('B2-F1', 0, None)
('B2-F2', 0, None)
('B2-F3', 0, None)
('B2-F4', 0, None)
('B2-F5', 0, None)
('B2-F6', 0, None)
('B2-F7', 0, None)
('B2-F8', 0, None)
('B2-F9', 0, None)
('B2-F10', 0, None)
('B2-G1', 0, None)
('B2-G2', 0, None)
('B2-G3', 0, None)
('B2-G4', 0, None)
('B2-G5', 0, None)
('B2-G6', 0, None)
('B2-G7', 0, None)
('B2-G8', 0, None)
('B2-G9', 0, None)
('B2-G10', 0, None)
('B2-H1', 0, None)
('B2-H2', 0, None)
('B2-H3', 0, None)
('B2-H4', 0, None)
('B2-H5', 0, None)
('B2-H6', 0, None)
('B2-H7', 0, None)
('B2-H8', 0, None)
('B2-H9', 0, None)
('B2-H10', 0, None)
('B2-I1', 0, None)
('B2-I2', 0, None)
('B2-I3', 0, None)
('B2-I4', 0, None)
('B2-I5', 0, None)
('B2-I6', 0, None)
('B2-I7', 0, None)
('B2-I8', 0, None)
('B2-I9', 0, None)
('B2-I10', 0, None)
('B2-J1', 0, None)
('B2-J2', 0, None)
('B2-J3', 0, None)
('B2-J4', 0, None)
('B2-J5', 0, None)
('B2-J6', 0, None)
('B2-J7', 0, None)
('B2-J8', 0, None)
('B2-J9', 0, None)
('B2-J10', 0, None)
('B3-A1', 0, None)
('B3-A2', 0, None)
('B3-A3', 0, None)
('B3-A4', 0, None)
('B3-A5', 0, None)
('B3-A6', 0, None)
('B3-A7', 0, None)
('B3-A8', 0, None)
('B3-A9', 0, None)
('B3-A10', 0, None)
('B3-B1', 0, None)
('B3-B2', 0, None)
('B3-B3', 0, None)
('B3-B4', 0, None)
('B3-B5', 0, None)
('B3-B6', 0, None)
('B3-B7', 0, None)
('B3-B8', 0, None)
('B3-B9', 0, None)
('B3-B10', 0, None)
('B3-C1', 0, None)
('B3-C2', 0, None)
('B3-C3', 0, None)
('B3-C4', 0, None)
('B3-C5', 0, None)
('B3-C6', 0, None)
('B3-C7', 0, None)
('B3-C8', 0, None)
('B3-C9', 0, None)
('B3-C10', 0, None)
('B3-D1', 0, None)
('B3-D2', 0, None)
('B3-D3', 0, None)
('B3-D4', 0, None)
('B3-D5', 0, None)
('B3-D6', 0, None)
('B3-D7', 0, None)
('B3-D8', 0, None)
('B3-D9', 0, None)
('B3-D10', 0, None)
('B3-E1', 0, None)
('B3-E2', 0, None)
('B3-E3', 0, None)
('B3-E4', 0, None)
('B3-E5', 0, None)
('B3-E6', 0, None)
('B3-E7', 0, None)
('B3-E8', 0, None)
('B3-E9', 0, None)
('B3-E10', 0, None)
('B3-F1', 0, None)
('B3-F2', 0, None)
('B3-F3', 0, None)
('B3-F4', 0, None)
('B3-F5', 0, None)
('B3-F6', 0, None)
('B3-F7', 0, None)
('B3-F8', 0, None)
('B3-F9', 0, None)
('B3-F10', 0, None)
('B3-G1', 0, None)
('B3-G2', 0, None)
('B3-G3', 0, None)
('B3-G4', 0, None)
('B3-G5', 0, None)
('B3-G6', 0, None)
('B3-G7', 0, None)
('B3-G8', 0, None)
('B3-G9', 0, None)
('B3-G10', 0, None)
('B3-H1', 0, None)
('B3-H2', 0, None)
('B3-H3', 0, None)
('B3-H4', 0, None)
('B3-H5', 0, None)
('B3-H6', 0, None)
('B3-H7', 0, None)
('B3-H8', 0, None)
('B3-H9', 0, None)
('B3-H10', 0, None)
('B3-I1', 0, None)
('B3-I2', 0, None)
('B3-I3', 0, None)
('B3-I4', 0, None)
('B3-I5', 0, None)
('B3-I6', 0, None)
('B3-I7', 0, None)
('B3-I8', 0, None)
('B3-I9', 0, None)
('B3-I10', 0, None)
('B3-J1', 0, None)
('B3-J2', 0, None)
('B3-J3', 0, None)
('B3-J4', 0, None)
('B3-J5', 0, None)
('B3-J6', 0, None)
('B3-J7', 0, None)
('B3-J8', 0, None)
('B3-J9', 0, None)
('B3-J10', 0, None)
******** CUSTOMER_LIST ********
('49루0663', 'Amex 8376-7961-6634-4969', 'JEONG MIN JOO')
('64러4617', 'MasterCard 1553-4104-8725-9861', 'PARK HYUN MI')
('93마5409', 'BC 9171-1649-5796-7113', 'HYUN JI JOO')
('70우7253', 'UnionPay 4267-1020-8989-0230', 'LEE SOO JOON')
('78주5458', 'MasterCard 5328-1031-3130-9298', 'KONG KYUNG AH')
('69부1494', 'VISA 5243-8322-8016-1786', 'YOON SEONG YEON')
('90더8969', 'Amex 8852-3329-9882-8965', 'CHA HYUN WOON')
('11허6306', 'Amex 9431-3966-4756-3012', 'KONG YOON JOON')
('78도7807', 'VISA 1471-2133-2450-0633', 'LEE SEONG SEOK')
('90바4515', 'UnionPay 3858-3525-9663-6871', 'CHA HYUN WOON')
('63조1349', 'Amex 1889-7969-9618-5493', 'KONG KYUNG JOON')
('93로1919', 'JCB 3612-6095-2793-5448', 'KANG SEO MI')
('18고0741', 'UnionPay 8752-9865-1212-0437', 'LEE KYUNG MI')
('50거6064', 'VISA 0596-9920-0354-3188', 'PARK MOON WOON')
('26라0373', 'UnionPay 6973-1662-4258-1146', 'KONG MOON YEON')
('44무2954', 'VISA 8251-7653-0645-9772', 'LEE SOO JOO')
('33조7704', 'UnionPay 2775-3332-0951-2592', 'PARK MIN YEON')
('15허7246', 'JCB 2864-0216-7727-6715', 'CHA SEONG YEON')
('83조6367', 'JCB 4111-2513-9184-0203', 'JEONG MOON HYUK')
('94다8918', 'Amex 2209-3934-7894-5770', 'CHA HYUN HYUK')
******** PARK_PAY ********
******** SHOPPING_PAY ********
(1, '93마5409', 293270, '2018-11-19 06:27:10 PM')
(2, '64러4617', 128140, '2018-11-21 08:56:48 PM')
(3, '18고0741', 1490, '2018-11-18 07:22:58 PM')
(4, '44무2954', 79450, '2018-11-09 04:22:39 PM')
(5, '93마5409', 287560, '2018-11-13 03:49:37 PM')
(6, '93마5409', 138040, '2018-11-22 07:30:29 PM')
(7, '44무2954', 146930, '2018-11-05 07:25:05 PM')
(8, '83조6367', 173870, '2018-11-25 09:53:47 PM')
(9, '94다8918', 248550, '2018-11-04 11:28:00 AM')
(10, '69부1494', 103250, '2018-11-24 11:35:53 AM')
(11, '78주5458', 62600, '2018-11-17 10:33:23 PM')
(12, '18고0741', 275410, '2018-11-21 10:50:30 PM')
(13, '78도7807', 223330, '2018-11-14 11:02:26 AM')
(14, '11허6306', 236050, '2018-11-22 10:45:46 PM')
(15, '90바4515', 201560, '2018-11-06 12:25:36 PM')
(16, '49루0663', 287270, '2018-11-11 07:15:44 PM')
(17, '44무2954', 33820, '2018-11-15 10:04:23 PM')
(18, '18고0741', 8150, '2018-11-10 04:26:08 PM')
(19, '26라0373', 283250, '2018-11-10 06:50:34 PM')
(20, '70우7253', 38710, '2018-11-24 02:20:27 PM')
(21, '11허6306', 14860, '2018-11-04 07:10:19 PM')
(22, '93로1919', 104120, '2018-11-26 10:15:40 PM')
(23, '15허7246', 278330, '2018-11-21 07:24:57 PM')
(24, '90더8969', 234420, '2018-11-19 04:30:14 PM')
(25, '78주5458', 123040, '2018-11-24 01:08:22 PM')
(26, '78도7807', 193380, '2018-11-10 12:39:41 PM')
(27, '63조1349', 110250, '2018-11-12 03:24:23 PM')
(28, '18고0741', 111830, '2018-11-22 11:25:40 AM')
(29, '63조1349', 54690, '2018-11-07 06:00:05 PM')
(30, '70우7253', 130360, '2018-11-27 12:33:20 PM')
(31, '26라0373', 157650, '2018-11-21 10:12:18 PM')
(32, '64러4617', 59840, '2018-11-24 07:44:38 PM')
(33, '64러4617', 133110, '2018-11-24 02:35:26 PM')
(34, '26라0373', 33570, '2018-11-17 04:46:26 PM')
(35, '69부1494', 276520, '2018-11-23 08:44:52 PM')
(36, '26라0373', 157980, '2018-11-06 04:58:22 PM')
(37, '15허7246', 99920, '2018-11-12 07:14:43 PM')
******** PRICE ********
(10, 500)
******** DISCOUNT ********
(10000, 1)
(30000, 2)
(50000, 3)
(70000, 4)
(90000, 5)

# DB 연결은 이렇게

In [23]:
# SQLite DB 연결
# db_path가 있으면 연결, 없으면 새로 생성
con = sqlite3.connect(db_path, detect_types=sqlite3.PARSE_DECLTYPES)

# Connection 으로부터 Cursor 생성
cur = con.cursor()

# 차량번호 검색은 이렇게

# ~ 와 일치하는 튜플 검색은 이렇게

In [25]:
cn = '94다8918'
cur.execute("select * from CUSTOMER_LIST where customer_car_num = ?", (cn,))
cust_info = cur.fetchall()
print(cust_info)

[('94다8918', 'Amex 2209-3934-7894-5770', 'CHA HYUN HYUK')]

# ~ 로 시작하는/끝나는 튜플 검색은 이렇게

In [28]:
# CUSTOMER_LIST 테이블에서 
# customer_car_num 이라는 컬럼 값이(번호판)
# '11' 으로 시작하는 튜플 불러오는 쿼리
a = '11'
cur.execute("select * from CUSTOMER_LIST where customer_car_num like ?", (a + '%',))
cust_info = cur.fetchall()
print(cust_info)

# CUSTOMER_LIST 테이블에서 
# customer_car_num 이라는 컬럼 값이(번호판)
# '9' 으로 끝나는 튜플 불러오는 쿼리
b = '9'
cur.execute("select * from CUSTOMER_LIST where customer_car_num like ?", ('%' + b,))
cust_info = cur.fetchall()
for row in cust_info:
    print(row)

[('11허6306', 'Amex 9431-3966-4756-3012', 'KONG YOON JOON')]
('93마5409', 'BC 9171-1649-5796-7113', 'HYUN JI JOO')
('90더8969', 'Amex 8852-3329-9882-8965', 'CHA HYUN WOON')
('63조1349', 'Amex 1889-7969-9618-5493', 'KONG KYUNG JOON')
('93로1919', 'JCB 3612-6095-2793-5448', 'KANG SEO MI')

# 튜플 INSERT는 이렇게

In [30]:
# 한 튜플의 모든 컬럼에 값을 넣는 경우
cur.execute("INSERT INTO CUSTOMER_LIST VALUES('12가1234', 'BC 1234-1234-1234-1234', 'PARK SEO YOON')")

# 한 튜플의 특정 컬럼에만 값을 넣는 경우, 컬럼을 명시해준다.
# SHOPPING_PAY = (Spay_id, Customer_car_num, Shopping_pay_amount, Shopping_pay_time text)
# 여기서 Spay_id를 제외한 나머지 컬럼에 값을 넣어 INSERT 해보자.
cur.execute("""INSERT INTO SHOPPING_PAY(Customer_car_num, Shopping_pay_amount, Shopping_pay_time)
                VALUES('12가1234', 30000, '2018-11-09 11:34:27 AM')""")

# 튜플 값 변경은 이렇게 - UPDATE SET WHERE

In [31]:
cn = '12가1234'
# 변경 전 값 확인
cur.execute("select * from CUSTOMER_LIST where customer_car_num = ?", (cn,))
cust_info = cur.fetchall()
print(cust_info)

# 차번호가 '12가1234'인 고객이 결제수단을 변경한 경우
# CUSTOMER_LIST 테이블의 Customer_card_info 컬럼을 변경
# UPDATE table이름 SET 컬럼이름 = 변경된값 WHERE 특정튜플
cur.execute("UPDATE CUSTOMER_LIST SET Customer_card_info = 'Amex 1233-1234-1234-9000' WHERE customer_car_num = ?", (cn,))

# 변경되었는지 확인
cur.execute("select * from CUSTOMER_LIST where customer_car_num = ?", (cn,))
cust_info = cur.fetchall()
print(cust_info)

[('12가1234', 'BC 1234-1234-1234-1234', 'PARK SEO YOON')]
[('12가1234', 'Amex 1233-1234-1234-9000', 'PARK SEO YOON')]

In [39]:
zone = 'B1-A'

#### 변경 전 ####
print('******** 변경 전 ********')
zone_info = []
cur.execute("select * from PARKINGLOT_LIST where Parking_spot like ?", (zone + '%',))
rows = cur.fetchall()
for row in rows:
    zone_info.append(list(row))
for row in zone_info:
    print(row)
    
    
#### 변경 중 ####
zone_info[0][1] = 1
zone_info[0][2] = '49루0663'

# UPDATE table이름 SET 컬럼이름 = 변경된값 WHERE 특정튜플
cur.execute("UPDATE PARKINGLOT_LIST SET Parking_status = ?, Customer_car_num = ? WHERE Parking_spot = ?",
            (zone_info[0][1], zone_info[0][2], zone_info[0][0],))


#### 변경 후 ####
print('******** 변경 후 ********')
cur.execute("select * from PARKINGLOT_LIST where Parking_spot like ?", (zone + '%',))
zone_info_after = []
rows = cur.fetchall()
for row in rows:
    zone_info_after.append(list(row))
for row in zone_info_after:
    print(row)
#return zone_info

******** 변경 전 ********
['B1-A1', 0, None]
['B1-A2', 0, None]
['B1-A3', 0, None]
['B1-A4', 0, None]
['B1-A5', 0, None]
['B1-A6', 0, None]
['B1-A7', 0, None]
['B1-A8', 0, None]
['B1-A9', 0, None]
['B1-A10', 0, None]
******** 변경 후 ********
['B1-A1', 1, '49루0663']
['B1-A2', 0, None]
['B1-A3', 0, None]
['B1-A4', 0, None]
['B1-A5', 0, None]
['B1-A6', 0, None]
['B1-A7', 0, None]
['B1-A8', 0, None]
['B1-A9', 0, None]
['B1-A10', 0, None]

# 튜플 삭제는 이렇게 - DELETE

In [32]:
cn = '12가1234'
# 변경 전 값 확인
cur.execute("select * from CUSTOMER_LIST where customer_car_num = ?", (cn,))
cust_info = cur.fetchall()
print(cust_info)

# 차번호가 '12가1234'인 고객이 탈퇴한 경우
# CUSTOMER_LIST 테이블의 Customer_car_num = '12가1234'인 튜플 삭제
# DELETE FROM table이름 WHERE 특정튜플
cur.execute("DELETE FROM CUSTOMER_LIST WHERE Customer_car_num = ?", (cn,))

# 변경되었는지 확인
cur.execute("select * from CUSTOMER_LIST where customer_car_num = ?", (cn,))
cust_info = cur.fetchall()
print(cust_info)

[('12가1234', 'Amex 1233-1234-1234-9000', 'PARK SEO YOON')]
[]