# import classes

In [27]:
from Pms_db import DBinit
import sqlite3

In [37]:
# DBinit 인스턴스 생성 with file path
db_path = 'mypms_db.sqlite'
# 아래 명령어를 실행하면 현재 폴더에 mypms_db.sqlite 파일이 생김.
mypmsdb = DBinit(db_path)

# Create all tables  { PARKINGLOT_LIST, CUSTOMER_LIST, PARK_PAY, SHOPPING_PAY, PRICE, DISCOUNT }
mypmsdb.create_all()

DBinit 객체가 생성되었습니다.

OperationalError: table PARKINGLOT_LIST already exists

# Put Sample Data in Tables

In [38]:
# Make Parkinglot list : B1층부터 B3층까지, zone A부터 J까지, 각 zone당 10칸씩
mypmsdb.mk_sample_parkinglot_list()
# Make Sample Customer tuples
mypmsdb.mk_sample_cust(20) # 20명의 샘플 데이터
# Make Sample Shopping pay tuples
mypmsdb.mk_sample_spay(37,'2018-11-04', '2018-11-28') # 37개의 샘플 데이터, 기간
# Make Price Table
mypmsdb.mk_sample_price('10', '500') # 10분 당 500원 (주의:string으로 넣어줘야 함)
# Make Discount Table
mypmsdb.mk_sample_discount(10000) # 최소 결제금액 100000원, 2만원당 1시간씩 할인시간 늘어남 (최대 5시간)

IntegrityError: UNIQUE constraint failed: PARKINGLOT_LIST.Parking_spot

# Check

In [5]:
# PARKINGLOT_LIST, CUSTOMER_LIST, PARK_PAY, SHOPPING_PAY, PRICE, DISCOUNT
print('******** PARKINGLOT_LIST ********')
mypmsdb.print_table('PARKINGLOT_LIST')
print('******** CUSTOMER_LIST ********')
mypmsdb.print_table('CUSTOMER_LIST')
print('******** PARK_PAY ********')
mypmsdb.print_table('PARK_PAY')
print('******** SHOPPING_PAY ********')
mypmsdb.print_table('SHOPPING_PAY')
print('******** PRICE ********')
mypmsdb.print_table('PRICE')
print('******** DISCOUNT ********')
mypmsdb.print_table('DISCOUNT')

******** PARKINGLOT_LIST ********
('B1-A1', 0, None)
('B1-A2', 0, None)
('B1-A3', 0, None)
('B1-A4', 0, None)
('B1-A5', 0, None)
('B1-A6', 0, None)
('B1-A7', 0, None)
('B1-A8', 0, None)
('B1-A9', 0, None)
('B1-A10', 0, None)
('B1-B1', 0, None)
('B1-B2', 0, None)
('B1-B3', 0, None)
('B1-B4', 0, None)
('B1-B5', 0, None)
('B1-B6', 0, None)
('B1-B7', 0, None)
('B1-B8', 0, None)
('B1-B9', 0, None)
('B1-B10', 0, None)
('B1-C1', 0, None)
('B1-C2', 0, None)
('B1-C3', 0, None)
('B1-C4', 0, None)
('B1-C5', 0, None)
('B1-C6', 0, None)
('B1-C7', 0, None)
('B1-C8', 0, None)
('B1-C9', 0, None)
('B1-C10', 0, None)
('B1-D1', 0, None)
('B1-D2', 0, None)
('B1-D3', 0, None)
('B1-D4', 0, None)
('B1-D5', 0, None)
('B1-D6', 0, None)
('B1-D7', 0, None)
('B1-D8', 0, None)
('B1-D9', 0, None)
('B1-D10', 0, None)
('B1-E1', 0, None)
('B1-E2', 0, None)
('B1-E3', 0, None)
('B1-E4', 0, None)
('B1-E5', 0, None)
('B1-E6', 0, None)
('B1-E7', 0, None)
('B1-E8', 0, None)
('B1-E9', 0, None)
('B1-E10', 0, None)
('B1-F1', 0, None)
('B1-F2', 0, None)
('B1-F3', 0, None)
('B1-F4', 0, None)
('B1-F5', 0, None)
('B1-F6', 0, None)
('B1-F7', 0, None)
('B1-F8', 0, None)
('B1-F9', 0, None)
('B1-F10', 0, None)
('B1-G1', 0, None)
('B1-G2', 0, None)
('B1-G3', 0, None)
('B1-G4', 0, None)
('B1-G5', 0, None)
('B1-G6', 0, None)
('B1-G7', 0, None)
('B1-G8', 0, None)
('B1-G9', 0, None)
('B1-G10', 0, None)
('B1-H1', 0, None)
('B1-H2', 0, None)
('B1-H3', 0, None)
('B1-H4', 0, None)
('B1-H5', 0, None)
('B1-H6', 0, None)
('B1-H7', 0, None)
('B1-H8', 0, None)
('B1-H9', 0, None)
('B1-H10', 0, None)
('B1-I1', 0, None)
('B1-I2', 0, None)
('B1-I3', 0, None)
('B1-I4', 0, None)
('B1-I5', 0, None)
('B1-I6', 0, None)
('B1-I7', 0, None)
('B1-I8', 0, None)
('B1-I9', 0, None)
('B1-I10', 0, None)
('B1-J1', 0, None)
('B1-J2', 0, None)
('B1-J3', 0, None)
('B1-J4', 0, None)
('B1-J5', 0, None)
('B1-J6', 0, None)
('B1-J7', 0, None)
('B1-J8', 0, None)
('B1-J9', 0, None)
('B1-J10', 0, None)
('B2-A1', 0, None)
('B2-A2', 0, None)
('B2-A3', 0, None)
('B2-A4', 0, None)
('B2-A5', 0, None)
('B2-A6', 0, None)
('B2-A7', 0, None)
('B2-A8', 0, None)
('B2-A9', 0, None)
('B2-A10', 0, None)
('B2-B1', 0, None)
('B2-B2', 0, None)
('B2-B3', 0, None)
('B2-B4', 0, None)
('B2-B5', 0, None)
('B2-B6', 0, None)
('B2-B7', 0, None)
('B2-B8', 0, None)
('B2-B9', 0, None)
('B2-B10', 0, None)
('B2-C1', 0, None)
('B2-C2', 0, None)
('B2-C3', 0, None)
('B2-C4', 0, None)
('B2-C5', 0, None)
('B2-C6', 0, None)
('B2-C7', 0, None)
('B2-C8', 0, None)
('B2-C9', 0, None)
('B2-C10', 0, None)
('B2-D1', 0, None)
('B2-D2', 0, None)
('B2-D3', 0, None)
('B2-D4', 0, None)
('B2-D5', 0, None)
('B2-D6', 0, None)
('B2-D7', 0, None)
('B2-D8', 0, None)
('B2-D9', 0, None)
('B2-D10', 0, None)
('B2-E1', 0, None)
('B2-E2', 0, None)
('B2-E3', 0, None)
('B2-E4', 0, None)
('B2-E5', 0, None)
('B2-E6', 0, None)
('B2-E7', 0, None)
('B2-E8', 0, None)
('B2-E9', 0, None)
('B2-E10', 0, None)
('B2-F1', 0, None)
('B2-F2', 0, None)
('B2-F3', 0, None)
('B2-F4', 0, None)
('B2-F5', 0, None)
('B2-F6', 0, None)
('B2-F7', 0, None)
('B2-F8', 0, None)
('B2-F9', 0, None)
('B2-F10', 0, None)
('B2-G1', 0, None)
('B2-G2', 0, None)
('B2-G3', 0, None)
('B2-G4', 0, None)
('B2-G5', 0, None)
('B2-G6', 0, None)
('B2-G7', 0, None)
('B2-G8', 0, None)
('B2-G9', 0, None)
('B2-G10', 0, None)
('B2-H1', 0, None)
('B2-H2', 0, None)
('B2-H3', 0, None)
('B2-H4', 0, None)
('B2-H5', 0, None)
('B2-H6', 0, None)
('B2-H7', 0, None)
('B2-H8', 0, None)
('B2-H9', 0, None)
('B2-H10', 0, None)
('B2-I1', 0, None)
('B2-I2', 0, None)
('B2-I3', 0, None)
('B2-I4', 0, None)
('B2-I5', 0, None)
('B2-I6', 0, None)
('B2-I7', 0, None)
('B2-I8', 0, None)
('B2-I9', 0, None)
('B2-I10', 0, None)
('B2-J1', 0, None)
('B2-J2', 0, None)
('B2-J3', 0, None)
('B2-J4', 0, None)
('B2-J5', 0, None)
('B2-J6', 0, None)
('B2-J7', 0, None)
('B2-J8', 0, None)
('B2-J9', 0, None)
('B2-J10', 0, None)
('B3-A1', 0, None)
('B3-A2', 0, None)
('B3-A3', 0, None)
('B3-A4', 0, None)
('B3-A5', 0, None)
('B3-A6', 0, None)
('B3-A7', 0, None)
('B3-A8', 0, None)
('B3-A9', 0, None)
('B3-A10', 0, None)
('B3-B1', 0, None)
('B3-B2', 0, None)
('B3-B3', 0, None)
('B3-B4', 0, None)
('B3-B5', 0, None)
('B3-B6', 0, None)
('B3-B7', 0, None)
('B3-B8', 0, None)
('B3-B9', 0, None)
('B3-B10', 0, None)
('B3-C1', 0, None)
('B3-C2', 0, None)
('B3-C3', 0, None)
('B3-C4', 0, None)
('B3-C5', 0, None)
('B3-C6', 0, None)
('B3-C7', 0, None)
('B3-C8', 0, None)
('B3-C9', 0, None)
('B3-C10', 0, None)
('B3-D1', 0, None)
('B3-D2', 0, None)
('B3-D3', 0, None)
('B3-D4', 0, None)
('B3-D5', 0, None)
('B3-D6', 0, None)
('B3-D7', 0, None)
('B3-D8', 0, None)
('B3-D9', 0, None)
('B3-D10', 0, None)
('B3-E1', 0, None)
('B3-E2', 0, None)
('B3-E3', 0, None)
('B3-E4', 0, None)
('B3-E5', 0, None)
('B3-E6', 0, None)
('B3-E7', 0, None)
('B3-E8', 0, None)
('B3-E9', 0, None)
('B3-E10', 0, None)
('B3-F1', 0, None)
('B3-F2', 0, None)
('B3-F3', 0, None)
('B3-F4', 0, None)
('B3-F5', 0, None)
('B3-F6', 0, None)
('B3-F7', 0, None)
('B3-F8', 0, None)
('B3-F9', 0, None)
('B3-F10', 0, None)
('B3-G1', 0, None)
('B3-G2', 0, None)
('B3-G3', 0, None)
('B3-G4', 0, None)
('B3-G5', 0, None)
('B3-G6', 0, None)
('B3-G7', 0, None)
('B3-G8', 0, None)
('B3-G9', 0, None)
('B3-G10', 0, None)
('B3-H1', 0, None)
('B3-H2', 0, None)
('B3-H3', 0, None)
('B3-H4', 0, None)
('B3-H5', 0, None)
('B3-H6', 0, None)
('B3-H7', 0, None)
('B3-H8', 0, None)
('B3-H9', 0, None)
('B3-H10', 0, None)
('B3-I1', 0, None)
('B3-I2', 0, None)
('B3-I3', 0, None)
('B3-I4', 0, None)
('B3-I5', 0, None)
('B3-I6', 0, None)
('B3-I7', 0, None)
('B3-I8', 0, None)
('B3-I9', 0, None)
('B3-I10', 0, None)
('B3-J1', 0, None)
('B3-J2', 0, None)
('B3-J3', 0, None)
('B3-J4', 0, None)
('B3-J5', 0, None)
('B3-J6', 0, None)
('B3-J7', 0, None)
('B3-J8', 0, None)
('B3-J9', 0, None)
('B3-J10', 0, None)
******** CUSTOMER_LIST ********
('49루0663', 'Amex 8376-7961-6634-4969', 'JEONG MIN JOO')
('64러4617', 'MasterCard 1553-4104-8725-9861', 'PARK HYUN MI')
('93마5409', 'BC 9171-1649-5796-7113', 'HYUN JI JOO')
('70우7253', 'UnionPay 4267-1020-8989-0230', 'LEE SOO JOON')
('78주5458', 'MasterCard 5328-1031-3130-9298', 'KONG KYUNG AH')
('69부1494', 'VISA 5243-8322-8016-1786', 'YOON SEONG YEON')
('90더8969', 'Amex 8852-3329-9882-8965', 'CHA HYUN WOON')
('11허6306', 'Amex 9431-3966-4756-3012', 'KONG YOON JOON')
('78도7807', 'VISA 1471-2133-2450-0633', 'LEE SEONG SEOK')
('90바4515', 'UnionPay 3858-3525-9663-6871', 'CHA HYUN WOON')
('63조1349', 'Amex 1889-7969-9618-5493', 'KONG KYUNG JOON')
('93로1919', 'JCB 3612-6095-2793-5448', 'KANG SEO MI')
('18고0741', 'UnionPay 8752-9865-1212-0437', 'LEE KYUNG MI')
('50거6064', 'VISA 0596-9920-0354-3188', 'PARK MOON WOON')
('26라0373', 'UnionPay 6973-1662-4258-1146', 'KONG MOON YEON')
('44무2954', 'VISA 8251-7653-0645-9772', 'LEE SOO JOO')
('33조7704', 'UnionPay 2775-3332-0951-2592', 'PARK MIN YEON')
('15허7246', 'JCB 2864-0216-7727-6715', 'CHA SEONG YEON')
('83조6367', 'JCB 4111-2513-9184-0203', 'JEONG MOON HYUK')
('94다8918', 'Amex 2209-3934-7894-5770', 'CHA HYUN HYUK')
******** PARK_PAY ********
******** SHOPPING_PAY ********
(1, '93마5409', 293270, '2018-11-19 06:27:10 PM')
(2, '64러4617', 128140, '2018-11-21 08:56:48 PM')
(3, '18고0741', 1490, '2018-11-18 07:22:58 PM')
(4, '44무2954', 79450, '2018-11-09 04:22:39 PM')
(5, '93마5409', 287560, '2018-11-13 03:49:37 PM')
(6, '93마5409', 138040, '2018-11-22 07:30:29 PM')
(7, '44무2954', 146930, '2018-11-05 07:25:05 PM')
(8, '83조6367', 173870, '2018-11-25 09:53:47 PM')
(9, '94다8918', 248550, '2018-11-04 11:28:00 AM')
(10, '69부1494', 103250, '2018-11-24 11:35:53 AM')
(11, '78주5458', 62600, '2018-11-17 10:33:23 PM')
(12, '18고0741', 275410, '2018-11-21 10:50:30 PM')
(13, '78도7807', 223330, '2018-11-14 11:02:26 AM')
(14, '11허6306', 236050, '2018-11-22 10:45:46 PM')
(15, '90바4515', 201560, '2018-11-06 12:25:36 PM')
(16, '49루0663', 287270, '2018-11-11 07:15:44 PM')
(17, '44무2954', 33820, '2018-11-15 10:04:23 PM')
(18, '18고0741', 8150, '2018-11-10 04:26:08 PM')
(19, '26라0373', 283250, '2018-11-10 06:50:34 PM')
(20, '70우7253', 38710, '2018-11-24 02:20:27 PM')
(21, '11허6306', 14860, '2018-11-04 07:10:19 PM')
(22, '93로1919', 104120, '2018-11-26 10:15:40 PM')
(23, '15허7246', 278330, '2018-11-21 07:24:57 PM')
(24, '90더8969', 234420, '2018-11-19 04:30:14 PM')
(25, '78주5458', 123040, '2018-11-24 01:08:22 PM')
(26, '78도7807', 193380, '2018-11-10 12:39:41 PM')
(27, '63조1349', 110250, '2018-11-12 03:24:23 PM')
(28, '18고0741', 111830, '2018-11-22 11:25:40 AM')
(29, '63조1349', 54690, '2018-11-07 06:00:05 PM')
(30, '70우7253', 130360, '2018-11-27 12:33:20 PM')
(31, '26라0373', 157650, '2018-11-21 10:12:18 PM')
(32, '64러4617', 59840, '2018-11-24 07:44:38 PM')
(33, '64러4617', 133110, '2018-11-24 02:35:26 PM')
(34, '26라0373', 33570, '2018-11-17 04:46:26 PM')
(35, '69부1494', 276520, '2018-11-23 08:44:52 PM')
(36, '26라0373', 157980, '2018-11-06 04:58:22 PM')
(37, '15허7246', 99920, '2018-11-12 07:14:43 PM')
******** PRICE ********
(10, 500)
******** DISCOUNT ********
(10000, 1)
(30000, 2)
(50000, 3)
(70000, 4)
(90000, 5)

# DB 연결은 이렇게

In [23]:
# SQLite DB 연결
# db_path가 있으면 연결, 없으면 새로 생성
con = sqlite3.connect(db_path, detect_types=sqlite3.PARSE_DECLTYPES)

# Connection 으로부터 Cursor 생성
cur = con.cursor()

# 차량번호 검색은 이렇게

# ~ 와 일치하는 튜플 검색은 이렇게

In [25]:
cn = '94다8918'
cur.execute("select * from CUSTOMER_LIST where customer_car_num = ?", (cn,))
cust_info = cur.fetchall()
print(cust_info)

[('94다8918', 'Amex 2209-3934-7894-5770', 'CHA HYUN HYUK')]

# ~ 로 시작하는/끝나는 튜플 검색은 이렇게

In [28]:
# CUSTOMER_LIST 테이블에서 
# customer_car_num 이라는 컬럼 값이(번호판)
# '11' 으로 시작하는 튜플 불러오는 쿼리
a = '11'
cur.execute("select * from CUSTOMER_LIST where customer_car_num like ?", (a + '%',))
cust_info = cur.fetchall()
print(cust_info)

# CUSTOMER_LIST 테이블에서 
# customer_car_num 이라는 컬럼 값이(번호판)
# '9' 으로 끝나는 튜플 불러오는 쿼리
b = '9'
cur.execute("select * from CUSTOMER_LIST where customer_car_num like ?", ('%' + b,))
cust_info = cur.fetchall()
for row in cust_info:
    print(row)

[('11허6306', 'Amex 9431-3966-4756-3012', 'KONG YOON JOON')]
('93마5409', 'BC 9171-1649-5796-7113', 'HYUN JI JOO')
('90더8969', 'Amex 8852-3329-9882-8965', 'CHA HYUN WOON')
('63조1349', 'Amex 1889-7969-9618-5493', 'KONG KYUNG JOON')
('93로1919', 'JCB 3612-6095-2793-5448', 'KANG SEO MI')

# 튜플 INSERT는 이렇게

In [30]:
# 한 튜플의 모든 컬럼에 값을 넣는 경우
cur.execute("INSERT INTO CUSTOMER_LIST VALUES('12가1234', 'BC 1234-1234-1234-1234', 'PARK SEO YOON')")

# 한 튜플의 특정 컬럼에만 값을 넣는 경우, 컬럼을 명시해준다.
# SHOPPING_PAY = (Spay_id, Customer_car_num, Shopping_pay_amount, Shopping_pay_time text)
# 여기서 Spay_id를 제외한 나머지 컬럼에 값을 넣어 INSERT 해보자.
cur.execute("""INSERT INTO SHOPPING_PAY(Customer_car_num, Shopping_pay_amount, Shopping_pay_time)
                VALUES('12가1234', 30000, '2018-11-09 11:34:27 AM')""")

# 튜플 값 변경은 이렇게 - UPDATE SET WHERE

In [31]:
cn = '12가1234'
# 변경 전 값 확인
cur.execute("select * from CUSTOMER_LIST where customer_car_num = ?", (cn,))
cust_info = cur.fetchall()
print(cust_info)

# 차번호가 '12가1234'인 고객이 결제수단을 변경한 경우
# CUSTOMER_LIST 테이블의 Customer_card_info 컬럼을 변경
# UPDATE table이름 SET 컬럼이름 = 변경된값 WHERE 특정튜플
cur.execute("UPDATE CUSTOMER_LIST SET Customer_card_info = 'Amex 1233-1234-1234-9000' WHERE customer_car_num = ?", (cn,))

# 변경되었는지 확인
cur.execute("select * from CUSTOMER_LIST where customer_car_num = ?", (cn,))
cust_info = cur.fetchall()
print(cust_info)

[('12가1234', 'BC 1234-1234-1234-1234', 'PARK SEO YOON')]
[('12가1234', 'Amex 1233-1234-1234-9000', 'PARK SEO YOON')]

In [39]:
zone = 'B1-A'

#### 변경 전 ####
print('******** 변경 전 ********')
zone_info = []
cur.execute("select * from PARKINGLOT_LIST where Parking_spot like ?", (zone + '%',))
rows = cur.fetchall()
for row in rows:
    zone_info.append(list(row))
for row in zone_info:
    print(row)
    
    
#### 변경 중 ####
zone_info[0][1] = 1
zone_info[0][2] = '49루0663'

# UPDATE table이름 SET 컬럼이름 = 변경된값 WHERE 특정튜플
cur.execute("UPDATE PARKINGLOT_LIST SET Parking_status = ?, Customer_car_num = ? WHERE Parking_spot = ?",
            (zone_info[0][1], zone_info[0][2], zone_info[0][0],))


#### 변경 후 ####
print('******** 변경 후 ********')
cur.execute("select * from PARKINGLOT_LIST where Parking_spot like ?", (zone + '%',))
zone_info_after = []
rows = cur.fetchall()
for row in rows:
    zone_info_after.append(list(row))
for row in zone_info_after:
    print(row)
#return zone_info

******** 변경 전 ********
['B1-A1', 0, None]
['B1-A2', 0, None]
['B1-A3', 0, None]
['B1-A4', 0, None]
['B1-A5', 0, None]
['B1-A6', 0, None]
['B1-A7', 0, None]
['B1-A8', 0, None]
['B1-A9', 0, None]
['B1-A10', 0, None]
******** 변경 후 ********
['B1-A1', 1, '49루0663']
['B1-A2', 0, None]
['B1-A3', 0, None]
['B1-A4', 0, None]
['B1-A5', 0, None]
['B1-A6', 0, None]
['B1-A7', 0, None]
['B1-A8', 0, None]
['B1-A9', 0, None]
['B1-A10', 0, None]

# 튜플 삭제는 이렇게 - DELETE

In [32]:
cn = '12가1234'
# 변경 전 값 확인
cur.execute("select * from CUSTOMER_LIST where customer_car_num = ?", (cn,))
cust_info = cur.fetchall()
print(cust_info)

# 차번호가 '12가1234'인 고객이 탈퇴한 경우
# CUSTOMER_LIST 테이블의 Customer_car_num = '12가1234'인 튜플 삭제
# DELETE FROM table이름 WHERE 특정튜플
cur.execute("DELETE FROM CUSTOMER_LIST WHERE Customer_car_num = ?", (cn,))

# 변경되었는지 확인
cur.execute("select * from CUSTOMER_LIST where customer_car_num = ?", (cn,))
cust_info = cur.fetchall()
print(cust_info)

[('12가1234', 'Amex 1233-1234-1234-9000', 'PARK SEO YOON')]
[]

NameError: name 'cur' is not defined

# Make sample PARK_PAY tuples

In [100]:
# 아래 함수는 Pms_db.py 의 DBinit Class에 들어갈 것임. 따라서 self 는 DBinit 클래스를 가리킨다.
##################################################################
# Make sample tuple of PARK_PAY and insert them to PARK_PAY 
## PARK_PAY = {Ppay_id, Customer_car_num, Parking_spot, Park_in,
##             Park_out, Park_free_hour, Park_pay_amount, Park_is_paid}
## Ppay_id : 튜플 insert 시 자동으로 생성되는거라 얘를 빼고 나머지 컬럼값을 넣어줘야 함
## Customer_car_num 은 SHOPPING_PAY에서 전부 가져온다. 쇼핑한 사람은 모두 주차도 했다고 가정.
## Parking_spot PARKING_LOT 에서 가져온다고 가정. 둘 이상의 튜플이 같은시간대에 동일한 spot 을 가지면 안됨.
## Park_in 은 최소 오전 11시부터, SHOPPING_PAY 의 Shopping_pay_time 전까지
## Park_out 은 SHOPPING_PAY 의 Shopping_pay_time 이후부터 최대 오후 11시까지
## Park_free_hour 는 SHOPPING_PAY 의 Shopping_pay_amount 와 PRICE와 DISCOUNT 테이블에 근거하여 계산
## Park_free_hour 계산하는 모듈 따로 만들어야 함
## Park_is_paid 는 랜덤하게 0과 1 섞어서 넣어줌.

def mk_sample_ppay(self):
    
    '''
    Make sample tuples of PARK_PAY and insert them to PARK_PAY 
    PARK_PAY = {Ppay_id, Customer_car_num, Parking_spot, Park_in,
                Park_out, Park_free_hour, Park_pay_amount, Park_is_paid}
    '''
    # Get Customer_car_num list from SHOPPING_PAY
    self.cur.execute('SELECT Customer_car_num FROM SHOPPING_PAY')
    cnum_list = []
    for row in self.cur:
        cnum_list.append(row[0])
    
    # Get Parking_spot list fom PARKINGLOT_LIST 
    self.cur.execute('SELECT Parking_spot FROM PARKINGLOT_LIST')
    pksp_list = []
    for row in self.cur:
        pksp_list.append(row[0])
    
    # Set opening hours    
    open_time = "11:00:00 AM"
    close_time = "11:00:00 PM"
    
    # Get Shopping_pay_amount list from SHOPPING_PAY
    self.cur.execute('SELECT Shopping_pay_time FROM SHOPPING_PAY')
    stime_list = []
    for row in self.cur:
        stime_list.append(row[0])
    
    # Set random park_in time between open_time and shopping_pay_time
    pin_list = []
    for stime in stime_list:
        # stime.split(' ')[0] = 'yyyy-mm-dd-yyyy'
        # ' '.join((stime.split(' ')[1:])) = 'hh:mm:ss PM/AM'
        pin_list.append(stime.split(' ')[0] + ' ' + (randomTime(open_time, ' '.join((stime.split(' ')[1:])), random.random())))
    
    # Set random park_out time between shopping_pay_time and close_time
    pout_list = []
    for stime in stime_list:
        # stime.split(' ')[0] = 'yyyy-mm-dd-yyyy'
        # ' '.join((stime.split(' ')[1:])) = 'hh:mm:ss PM/AM'
        pout_list.append(stime.split(' ')[0] + ' ' + (randomTime(' '.join((stime.split(' ')[1:])), close_time, random.random())))
    
    # Get parking minutes between park_in and park_out.
    # That is, "how long had this car parked?"
    pmin_list = []
    for i in range(len(pin_list)):
        pmin_list.append(diff_min(pin_list[i], pout_list[i], '%Y-%m-%d %I:%M:%S %p'))
                         
    # Get Shopping_pay_amount list from SHOPPING_PAY
    self.cur.execute('SELECT Shopping_pay_amount FROM SHOPPING_PAY')
    spay_list = []
    for row in self.cur:
        spay_list.append(row[0])
    
    # Get DISCOUNT table
    self.cur.execute('SELECT * FROM DISCOUNT')
    discount_list = []
    for row in self.cur:
        discount_list.append(list(row))
    
    # Calculate Park_free_hour
    pfrh_list = []
    for spay in spay_list:
        pfrh_list.append(cal_freeh(spay, discount_list))
    
    # Get PRICE table
    self.cur.execute('SELECT * FROM PRICE')
    for row in self.cur:
        price_list = list(row)
    
    # Calculate Park_pay_amount
    ppay_list = []
    for i in range(len(pmin_list)):
        ppay_list.append(cal_price(pmin_list[i], price_list, pfrh_list[i]))
    
    
    
    for i in range (len(cnum_list)):
        # 아래에서 주의해야 할 점
        # 변수가 text 여야 하면 (예; 차 번호), ",'" + 변수 + "'" 이렇게 넣어줘야 하고
        # 변수가 int 여야 하면 (예: 결제여부), "," + str(변수) + 이렇게 넣어줘야 함
        self.cur.execute("""INSERT INTO PARK_PAY(Customer_car_num, Parking_spot, Park_in, Park_out, 
                         Park_free_hour, Park_pay_amount, Park_is_paid) VALUES('"""
                        + cnum_list[i] + "', '" + pksp_list[i] + "', '" + pin_list[i] + "', '" + pout_list[i] + "', "
                        + str(pfrh_list[i]) + ", " + str(ppay_list[i]) + ", " + str(1) + ")")
    # commit 을 해줘야 sqlite 에 반영이 됨
    self.conn.commit()

In [101]:
mypmsdb.cur.execute("DELETE from PARK_PAY")
ppay_info = mypmsdb.cur.fetchall()

print(ppay_info)

[]

In [102]:
mk_sample_ppay(mypmsdb)

In [103]:
mypmsdb.print_table('PARK_PAY')

(1, '93마5409', 'B1-A1', '2018-11-19 11:16:27 AM', '2018-11-19 06:57:41 PM', 5, 8500, 1)
(2, '64러4617', 'B1-A10', '2018-11-21 02:44:48 PM', '2018-11-21 10:12:08 PM', 5, 7500, 1)
(3, '18고0741', 'B1-A2', '2018-11-18 12:18:53 PM', '2018-11-18 10:11:53 PM', 0, 30000, 1)
(4, '44무2954', 'B1-A3', '2018-11-09 01:56:54 PM', '2018-11-09 08:50:18 PM', 4, 9000, 1)
(5, '93마5409', 'B1-A4', '2018-11-13 11:42:32 AM', '2018-11-13 06:33:06 PM', 5, 5500, 1)
(6, '93마5409', 'B1-A5', '2018-11-22 12:29:08 PM', '2018-11-22 07:36:01 PM', 5, 6500, 1)
(7, '44무2954', 'B1-A6', '2018-11-05 06:45:06 PM', '2018-11-05 08:58:50 PM', 5, 0, 1)
(8, '83조6367', 'B1-A7', '2018-11-25 05:58:29 PM', '2018-11-25 10:54:17 PM', 5, 0, 1)
(9, '94다8918', 'B1-A8', '2018-11-04 11:06:47 AM', '2018-11-04 03:18:22 PM', 5, 0, 1)
(10, '69부1494', 'B1-A9', '2018-11-24 11:31:32 AM', '2018-11-24 02:25:30 PM', 5, 0, 1)
(11, '78주5458', 'B1-B1', '2018-11-17 06:13:10 PM', '2018-11-17 10:37:03 PM', 3, 4500, 1)
(12, '18고0741', 'B1-B10', '2018-11-21 10:11:50 PM', '2018-11-21 10:55:20 PM', 5, 0, 1)
(13, '78도7807', 'B1-B2', '2018-11-14 11:01:10 AM', '2018-11-14 05:25:08 PM', 5, 4500, 1)
(14, '11허6306', 'B1-B3', '2018-11-22 09:26:39 PM', '2018-11-22 10:46:48 PM', 5, 0, 1)
(15, '90바4515', 'B1-B4', '2018-11-06 11:58:04 AM', '2018-11-06 04:44:16 PM', 5, 0, 1)
(16, '49루0663', 'B1-B5', '2018-11-11 11:21:53 AM', '2018-11-11 09:43:27 PM', 5, 16500, 1)
(17, '44무2954', 'B1-B6', '2018-11-15 01:39:38 PM', '2018-11-15 10:58:06 PM', 2, 22000, 1)
(18, '18고0741', 'B1-B7', '2018-11-10 12:31:49 PM', '2018-11-10 07:16:06 PM', 0, 20500, 1)
(19, '26라0373', 'B1-B8', '2018-11-10 12:20:00 PM', '2018-11-10 08:39:19 PM', 5, 10000, 1)
(20, '70우7253', 'B1-B9', '2018-11-24 11:47:44 AM', '2018-11-24 06:25:13 PM', 2, 14000, 1)
(21, '11허6306', 'B1-C1', '2018-11-04 12:50:49 PM', '2018-11-04 08:02:00 PM', 1, 19000, 1)
(22, '93로1919', 'B1-C10', '2018-11-26 08:53:28 PM', '2018-11-26 10:33:10 PM', 5, 0, 1)
(23, '15허7246', 'B1-C2', '2018-11-21 02:53:44 PM', '2018-11-21 09:43:42 PM', 5, 5500, 1)
(24, '90더8969', 'B1-C3', '2018-11-19 03:49:27 PM', '2018-11-19 07:04:59 PM', 5, 0, 1)
(25, '78주5458', 'B1-C4', '2018-11-24 11:17:42 AM', '2018-11-24 06:52:19 PM', 5, 8000, 1)
(26, '78도7807', 'B1-C5', '2018-11-10 11:56:18 AM', '2018-11-10 09:18:00 PM', 5, 13500, 1)
(27, '63조1349', 'B1-C6', '2018-11-12 11:03:33 AM', '2018-11-12 10:59:04 PM', 5, 21000, 1)
(28, '18고0741', 'B1-C7', '2018-11-22 11:23:52 AM', '2018-11-22 09:40:10 PM', 5, 16000, 1)
(29, '63조1349', 'B1-C8', '2018-11-07 11:02:22 AM', '2018-11-07 07:51:35 PM', 3, 17500, 1)
(30, '70우7253', 'B1-C9', '2018-11-27 11:36:23 AM', '2018-11-27 12:46:56 PM', 5, 0, 1)
(31, '26라0373', 'B1-D1', '2018-11-21 07:58:54 PM', '2018-11-21 10:41:28 PM', 5, 0, 1)
(32, '64러4617', 'B1-D10', '2018-11-24 07:44:34 PM', '2018-11-24 09:17:20 PM', 3, 0, 1)
(33, '64러4617', 'B1-D2', '2018-11-24 11:04:12 AM', '2018-11-24 04:35:01 PM', 5, 1500, 1)
(34, '26라0373', 'B1-D3', '2018-11-17 03:45:29 PM', '2018-11-17 05:01:29 PM', 2, 0, 1)
(35, '69부1494', 'B1-D4', '2018-11-23 03:58:20 PM', '2018-11-23 09:28:19 PM', 5, 1500, 1)
(36, '26라0373', 'B1-D5', '2018-11-06 11:13:40 AM', '2018-11-06 09:46:58 PM', 5, 17000, 1)
(37, '15허7246', 'B1-D6', '2018-11-12 05:24:27 PM', '2018-11-12 10:51:54 PM', 5, 1500, 1)

In [71]:
mypmsdb.print_table('SHOPPING_PAY')

(1, '93마5409', 293270, '2018-11-19 06:27:10 PM')
(2, '64러4617', 128140, '2018-11-21 08:56:48 PM')
(3, '18고0741', 1490, '2018-11-18 07:22:58 PM')
(4, '44무2954', 79450, '2018-11-09 04:22:39 PM')
(5, '93마5409', 287560, '2018-11-13 03:49:37 PM')
(6, '93마5409', 138040, '2018-11-22 07:30:29 PM')
(7, '44무2954', 146930, '2018-11-05 07:25:05 PM')
(8, '83조6367', 173870, '2018-11-25 09:53:47 PM')
(9, '94다8918', 248550, '2018-11-04 11:28:00 AM')
(10, '69부1494', 103250, '2018-11-24 11:35:53 AM')
(11, '78주5458', 62600, '2018-11-17 10:33:23 PM')
(12, '18고0741', 275410, '2018-11-21 10:50:30 PM')
(13, '78도7807', 223330, '2018-11-14 11:02:26 AM')
(14, '11허6306', 236050, '2018-11-22 10:45:46 PM')
(15, '90바4515', 201560, '2018-11-06 12:25:36 PM')
(16, '49루0663', 287270, '2018-11-11 07:15:44 PM')
(17, '44무2954', 33820, '2018-11-15 10:04:23 PM')
(18, '18고0741', 8150, '2018-11-10 04:26:08 PM')
(19, '26라0373', 283250, '2018-11-10 06:50:34 PM')
(20, '70우7253', 38710, '2018-11-24 02:20:27 PM')
(21, '11허6306', 14860, '2018-11-04 07:10:19 PM')
(22, '93로1919', 104120, '2018-11-26 10:15:40 PM')
(23, '15허7246', 278330, '2018-11-21 07:24:57 PM')
(24, '90더8969', 234420, '2018-11-19 04:30:14 PM')
(25, '78주5458', 123040, '2018-11-24 01:08:22 PM')
(26, '78도7807', 193380, '2018-11-10 12:39:41 PM')
(27, '63조1349', 110250, '2018-11-12 03:24:23 PM')
(28, '18고0741', 111830, '2018-11-22 11:25:40 AM')
(29, '63조1349', 54690, '2018-11-07 06:00:05 PM')
(30, '70우7253', 130360, '2018-11-27 12:33:20 PM')
(31, '26라0373', 157650, '2018-11-21 10:12:18 PM')
(32, '64러4617', 59840, '2018-11-24 07:44:38 PM')
(33, '64러4617', 133110, '2018-11-24 02:35:26 PM')
(34, '26라0373', 33570, '2018-11-17 04:46:26 PM')
(35, '69부1494', 276520, '2018-11-23 08:44:52 PM')
(36, '26라0373', 157980, '2018-11-06 04:58:22 PM')
(37, '15허7246', 99920, '2018-11-12 07:14:43 PM')

In [42]:
open_time = "11:00:00 AM"
stime = "2018-12-08 1:23:33 PM"
print(stime.split(' ')[0])
print(type(stime.split(' ')[0]))
print(stime.split(' ')[1:])
print(' '.join((stime.split(' ')[1:])))
print(type(' '.join((stime.split(' ')[1:]))))
#stime.split(' ')[0] + ' ' + (randomTime(open_time, ' '.join((stime.split(' ')[1:])), random.random())

2018-12-08
<class 'str'>
['1:23:33', 'PM']
1:23:33 PM
<class 'str'>

# Make DB.sqlite and Create Tables

In [54]:
def cal_freeh(spay_amount, discount_list) :
    '''
    Calculate park_free_hour.
    Format of parameters 
      spay_amount : int
      discount = list ['Shopping_pay_minimum', 'Free_hour']
    '''
    for i in range(len(discount_list)):
        if spay_amount < discount_list[i][0]:
            return discount_list[i][1]-1
    return discount_list[i][1]

In [83]:
def cal_price(minutes, price_list, free_hour):
    '''
    Calculate park_pay_amount.
    Format of parameters 
      minutes : int
      price_list = [Unit_minute, Unit_price]
      free_hour = int
    '''
    free_min = free_hour * 60
    net_min = minutes - free_min
    if net_min <= 0:
        return 0
    
    t = int(net_min / price_list[0])
    if (net_min % price_list[0] == 0):
        return int(t * price_list[1])
    else:
        return int((t + 1) * price_list[1])

In [2]:
import datetime
import time
import random

In [15]:
import random
import time

def strDateProp(start, end, format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formated in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    sdate = time.mktime(time.strptime(start, format))
    edate = time.mktime(time.strptime(end, format))
    pdate = sdate + prop * (edate - sdate)

    return time.strftime(format, time.localtime(pdate))




def strTimeProp(start, end, format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formated in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """
    date = '2018-12-08'
    start_dt = date + ' ' + start
    end_dt = date + ' ' + end
    stime = time.mktime(time.strptime(start_dt, '%Y-%m-%d %I:%M:%S %p'))
    etime = time.mktime(time.strptime(end_dt, '%Y-%m-%d %I:%M:%S %p'))
    ptime = stime + prop * (etime - stime)

    return time.strftime(format, time.localtime(ptime))




def randomDate(start, end, prop):
    return strDateProp(start, end, '%Y-%m-%d', prop)
print(randomDate("2016-01-01", "2018-11-22", random.random()))


def randomTime(start, end, prop):
    return strTimeProp(start, end, '%I:%M:%S %p', prop)
# Open Hours : 11:00:00 AM to 11:00:00 PM
print (randomTime("11:00:00 AM", "11:00:00 PM", random.random()))

2017-08-02
11:57:21 AM

In [7]:
def randomDateTime(start, end, format, prop):
    start_dt = time.mktime(time.strptime(start, format))
    end_dt = time.mktime(time.strptime(end, format))
    ptime = start_dt + prop * (end_dt - start_dt)

    return time.strftime(format, time.localtime(ptime))

print (randomDateTime("12/8/2018 11:00:00 AM", "12/8/2018 11:00:00 PM", '%m/%d/%Y %I:%M:%S %p', random.random()))

12/08/2018 05:57:52 PM

In [16]:
time.mktime(time.strptime("2018-12-8 11:00:00 AM", '%Y-%m-%d %I:%M:%S %p'))

1544234400.0

In [11]:
time.strftime('%Y-%m-%d', time.localtime(time.mktime(time.strptime("2018-12-8 11:00:00 AM", '%Y-%m-%d %I:%M:%S %p'))))

'2018-12-08'

In [12]:
"2018-12-08 11:00:00 AM".split(' ')[0]

'2018-12-8'

In [17]:
stime = time.mktime(time.strptime("2018-12-8 11:00:00 AM", '%Y-%m-%d %I:%M:%S %p'))
etime = time.mktime(time.strptime("2018-12-8 11:00:00 PM", '%Y-%m-%d %I:%M:%S %p'))
ptime = (etime - stime)
print(ptime)

43200.0

In [20]:
ptime/3600

12.0

In [23]:
def diff_min(start, end, format):
    stime = time.mktime(time.strptime(start, format))
    etime = time.mktime(time.strptime(end, format))
    ptime = (etime - stime)
    return int(ptime/60)

In [24]:
diff_min("2018-12-8 11:00:00 AM", "2018-12-8 11:00:00 PM", '%Y-%m-%d %I:%M:%S %p')

720

In [ ]:
1초 * 60 = 1분
1분 * 60 = 1시간 
1초 * 60 * 60 = 1시간
43200초 * 60 * 60 = 12시간